#### The entire data has been scraped as per the Indian States

### Cars from Gujarat

In [1]:
#import required libraries
from selenium import webdriver
import time
import pandas as pd
from selenium.common.exceptions import NoSuchElementException

In [2]:
#connecting to the chrome driver
driver=webdriver.Chrome(r"C://Chromedriver.exe")
driver.maximize_window()

In [3]:
#url to fetch cars belonging to gujarat
driver.get("https://www.olx.in/gujarat_g2001154/cars_c84")
time.sleep(5)

In [4]:
# first click on the load more button multiple times 
for i in range(12):
    load=driver.find_element_by_xpath("//button[@class='rui-39-wj rui-3evoE rui-1JPTg']")
    load.click()
    time.sleep(6)

In [5]:
#fetch urls of all the products first
url_list1=[]
for i in driver.find_elements_by_xpath("//div[@class='rui-jAIPe']/div/div[5]/div[2]/div/div[2]/ul/li/a"):
    url_list1.append(i.get_attribute("href"))

In [6]:
#check the urls
url_list1[0:2]

['https://www.olx.in/item/maruti-suzuki-baleno-2016-petrol-iid-1639907287',
 'https://www.olx.in/item/maruti-suzuki-swift-vdi-2016-diesel-iid-1636839362']

In [7]:
#number of urls fetched
print(len(url_list1))

500

In [8]:
#check if all the urls are fetched and no data is repeated
import numpy as np
x=np.array(url_list1)
print(len(np.unique(x)))

496

In [9]:
#drop the duplicate urls
url_list1=np.unique(url_list1)
len(url_list1)

496

In [10]:
#create empty lists
brand_list1=[]
model_list1=[]
variant_list1=[]
year_list1=[]
fuel_list1=[]
trans_list1=[]
kms_list1=[]
owners_list1=[]
price_list1=[]
location_list1=[]

#### We shall collect the data in small chunks of 100 urls each

In [11]:
for i in url_list1[0:100]:
    driver.get(i)
    time.sleep(0.10)
    
    try:
        brand_list1.append(driver.find_element_by_xpath(" //span[@data-aut-id='value_make']").text)
    except NoSuchElementException:
        brand_list1.append('-')    
        
    try:   
        model_list1.append(driver.find_element_by_xpath("//div[@class='_3JPEe']/div[2]/div/span[2]").text)
    except NoSuchElementException: 
        model_list1.append('-')
    
    try:
        variant_list1.append(driver.find_element_by_xpath("//div[@class='_3JPEe']/div[3]/div/span[2]").text)
    except NoSuchElementException: 
        variant_list1.append('-')
       
    
    try:
        year_list1.append(driver.find_element_by_xpath("//div[@class='_3JPEe']/div[4]/div/span[2]").text)
    except NoSuchElementException: 
        year_list1.append('-')
        
        
    try:
        fuel_list1.append(driver.find_element_by_xpath("//div[@class='_3JPEe']/div[5]/div/span[2]").text)
    except NoSuchElementException: 
        fuel_list1.append('-')
     
    
    try:
        trans_list1.append(driver.find_element_by_xpath("//div[@class='_3JPEe']/div[6]/div/span[2]").text)
    except NoSuchElementException: 
        trans_list1.append('-')
       
    
    try:
        kms_list1.append(driver.find_element_by_xpath("//div[@class='_3JPEe']/div[7]/div/span[2]").text)
    except NoSuchElementException: 
        kms_list1.append('-')
        
        
    try:   
        owners_list1.append(driver.find_element_by_xpath("//div[@class='_3JPEe']/div[8]/div/span[2]").text)
    except NoSuchElementException: 
        owners_list1.append('-')
        
    try:   
        price_list1.append(driver.find_element_by_xpath("//div[@class='rui-2CYS9']/section/span[1]").text)
    except NoSuchElementException: 
        price_list1.append('-')
       
    
    
    try:
        location_list1.append(driver.find_element_by_xpath("//div[@class='_2A3Wa']/span").text.split(",")[-1])        
    except NoSuchElementException: 
        location_list1.append('-')

In [12]:
#check the data collected
print(brand_list1[0:5])
print("\n")
print(model_list1[0:5])
print("\n")
print(variant_list1[0:5])
print("\n")
print(year_list1[0:5])
print("\n")
print(fuel_list1[0:5])
print("\n")
print(trans_list1[0:5])
print("\n")
print(kms_list1[0:5])
print("\n")
print(owners_list1[0:5])
print("\n")
print(price_list1[0:5])
print("\n")
print(location_list1[0:5])

['Tata', 'Renault', 'Tata', 'Hyundai', 'Mahindra']


['Tl', 'Duster', 'Safari', 'i20', 'Bolero']


['Others', '2012-2015 110PS Diesel-RxZ', 'Dicor VX 4X2', '2012-2014 Sportz 1.2', '2001-2010 XLS 7 Seater']


['2008', '2016', '2008', '2013', '2013']


['Diesel', 'Diesel', 'Diesel', 'Diesel', 'Diesel']


['Manual', 'Manual', 'Manual', 'Manual', 'Automatic']


['30 km', '90,000 km', '125,600 km', '70,330 km', '90,000 km']


['1st', '1st', '2nd', '1st', '2nd']


['₹ 80,000', '₹ 4,51,000', '₹ 1,70,001', '₹ 3,69,000', '₹ 3,50,000']


[' Gujarat', ' Gujarat', ' Gujarat', ' Gujarat', ' Gujarat']

In [13]:
#checking length of all the fetched details
print(len(brand_list1))
print(len(model_list1))
print(len(variant_list1))
print(len(year_list1))
print(len(fuel_list1))
print(len(trans_list1))
print(len(kms_list1))
print(len(owners_list1))
print(len(price_list1))
print(len(location_list1))

100
100
100
100
100
100
100
100
100
100

In [14]:
#fetch other 100 cars and append in the same lists
for i in url_list1[100:200]:
    driver.get(i)
    time.sleep(0.10)
    
    try:
        brand_list1.append(driver.find_element_by_xpath(" //span[@data-aut-id='value_make']").text)
    except NoSuchElementException:
        brand_list1.append('-')    
        
    try:   
        model_list1.append(driver.find_element_by_xpath("//div[@class='_3JPEe']/div[2]/div/span[2]").text)
    except NoSuchElementException: 
        model_list1.append('-')
    
    try:
        variant_list1.append(driver.find_element_by_xpath("//div[@class='_3JPEe']/div[3]/div/span[2]").text)
    except NoSuchElementException: 
        variant_list1.append('-')
       
    
    try:
        year_list1.append(driver.find_element_by_xpath("//div[@class='_3JPEe']/div[4]/div/span[2]").text)
    except NoSuchElementException: 
        year_list1.append('-')
        
        
    try:
        fuel_list1.append(driver.find_element_by_xpath("//div[@class='_3JPEe']/div[5]/div/span[2]").text)
    except NoSuchElementException: 
        fuel_list1.append('-')
     
    
    try:
        trans_list1.append(driver.find_element_by_xpath("//div[@class='_3JPEe']/div[6]/div/span[2]").text)
    except NoSuchElementException: 
        trans_list1.append('-')
       
    
    try:
        kms_list1.append(driver.find_element_by_xpath("//div[@class='_3JPEe']/div[7]/div/span[2]").text)
    except NoSuchElementException: 
        kms_list1.append('-')
        
        
    try:   
        owners_list1.append(driver.find_element_by_xpath("//div[@class='_3JPEe']/div[8]/div/span[2]").text)
    except NoSuchElementException: 
        owners_list1.append('-')
        
    try:   
        price_list1.append(driver.find_element_by_xpath("//div[@class='rui-2CYS9']/section/span[1]").text)
    except NoSuchElementException: 
        price_list1.append('-')
       
    
    
    try:
        location_list1.append(driver.find_element_by_xpath("//div[@class='_2A3Wa']/span").text.split(",")[-1])        
    except NoSuchElementException: 
        location_list1.append('-')

In [15]:
#now the length of all the fetched details should be 200
print(len(brand_list1))
print(len(model_list1))
print(len(variant_list1))
print(len(year_list1))
print(len(fuel_list1))
print(len(trans_list1))
print(len(kms_list1))
print(len(owners_list1))
print(len(price_list1))
print(len(location_list1))

200
200
200
200
200
200
200
200
200
200

In [16]:
#fetch other 100 cars and append in the same lists
for i in url_list1[200:300]:
    driver.get(i)
    time.sleep(0.10)
    
    try:
        brand_list1.append(driver.find_element_by_xpath(" //span[@data-aut-id='value_make']").text)
    except NoSuchElementException:
        brand_list1.append('-')    
        
    try:   
        model_list1.append(driver.find_element_by_xpath("//div[@class='_3JPEe']/div[2]/div/span[2]").text)
    except NoSuchElementException: 
        model_list1.append('-')
    
    try:
        variant_list1.append(driver.find_element_by_xpath("//div[@class='_3JPEe']/div[3]/div/span[2]").text)
    except NoSuchElementException: 
        variant_list1.append('-')
       
    
    try:
        year_list1.append(driver.find_element_by_xpath("//div[@class='_3JPEe']/div[4]/div/span[2]").text)
    except NoSuchElementException: 
        year_list1.append('-')
        
        
    try:
        fuel_list1.append(driver.find_element_by_xpath("//div[@class='_3JPEe']/div[5]/div/span[2]").text)
    except NoSuchElementException: 
        fuel_list1.append('-')
     
    
    try:
        trans_list1.append(driver.find_element_by_xpath("//div[@class='_3JPEe']/div[6]/div/span[2]").text)
    except NoSuchElementException: 
        trans_list1.append('-')
       
    
    try:
        kms_list1.append(driver.find_element_by_xpath("//div[@class='_3JPEe']/div[7]/div/span[2]").text)
    except NoSuchElementException: 
        kms_list1.append('-')
        
        
    try:   
        owners_list1.append(driver.find_element_by_xpath("//div[@class='_3JPEe']/div[8]/div/span[2]").text)
    except NoSuchElementException: 
        owners_list1.append('-')
        
    try:   
        price_list1.append(driver.find_element_by_xpath("//div[@class='rui-2CYS9']/section/span[1]").text)
    except NoSuchElementException: 
        price_list1.append('-')
       
    
    
    try:
        location_list1.append(driver.find_element_by_xpath("//div[@class='_2A3Wa']/span").text.split(",")[-1])        
    except NoSuchElementException: 
        location_list1.append('-')

In [17]:
#now the length of all the fetched details should be 300
print(len(brand_list1))
print(len(model_list1))
print(len(variant_list1))
print(len(year_list1))
print(len(fuel_list1))
print(len(trans_list1))
print(len(kms_list1))
print(len(owners_list1))
print(len(price_list1))
print(len(location_list1))

300
300
300
300
300
300
300
300
300
300

In [18]:
#fetch other 100 cars and append in the same lists
for i in url_list1[300:400]:
    driver.get(i)
    time.sleep(0.10)
    
    try:
        brand_list1.append(driver.find_element_by_xpath(" //span[@data-aut-id='value_make']").text)
    except NoSuchElementException:
        brand_list1.append('-')    
        
    try:   
        model_list1.append(driver.find_element_by_xpath("//div[@class='_3JPEe']/div[2]/div/span[2]").text)
    except NoSuchElementException: 
        model_list1.append('-')
    
    try:
        variant_list1.append(driver.find_element_by_xpath("//div[@class='_3JPEe']/div[3]/div/span[2]").text)
    except NoSuchElementException: 
        variant_list1.append('-')
       
    
    try:
        year_list1.append(driver.find_element_by_xpath("//div[@class='_3JPEe']/div[4]/div/span[2]").text)
    except NoSuchElementException: 
        year_list1.append('-')
        
        
    try:
        fuel_list1.append(driver.find_element_by_xpath("//div[@class='_3JPEe']/div[5]/div/span[2]").text)
    except NoSuchElementException: 
        fuel_list1.append('-')
     
    
    try:
        trans_list1.append(driver.find_element_by_xpath("//div[@class='_3JPEe']/div[6]/div/span[2]").text)
    except NoSuchElementException: 
        trans_list1.append('-')
       
    
    try:
        kms_list1.append(driver.find_element_by_xpath("//div[@class='_3JPEe']/div[7]/div/span[2]").text)
    except NoSuchElementException: 
        kms_list1.append('-')
        
        
    try:   
        owners_list1.append(driver.find_element_by_xpath("//div[@class='_3JPEe']/div[8]/div/span[2]").text)
    except NoSuchElementException: 
        owners_list1.append('-')
        
    try:   
        price_list1.append(driver.find_element_by_xpath("//div[@class='rui-2CYS9']/section/span[1]").text)
    except NoSuchElementException: 
        price_list1.append('-')
       
    
    
    try:
        location_list1.append(driver.find_element_by_xpath("//div[@class='_2A3Wa']/span").text.split(",")[-1])        
    except NoSuchElementException: 
        location_list1.append('-')

In [19]:
#now the length of all the fetched details should be 400
print(len(brand_list1))
print(len(model_list1))
print(len(variant_list1))
print(len(year_list1))
print(len(fuel_list1))
print(len(trans_list1))
print(len(kms_list1))
print(len(owners_list1))
print(len(price_list1))
print(len(location_list1))

400
400
400
400
400
400
400
400
400
400

In [20]:
#fetch other cars and append in the same lists
for i in url_list1[400:496]:
    driver.get(i)
    time.sleep(0.10)
    
    try:
        brand_list1.append(driver.find_element_by_xpath(" //span[@data-aut-id='value_make']").text)
    except NoSuchElementException:
        brand_list1.append('-')    
        
    try:   
        model_list1.append(driver.find_element_by_xpath("//div[@class='_3JPEe']/div[2]/div/span[2]").text)
    except NoSuchElementException: 
        model_list1.append('-')
    
    try:
        variant_list1.append(driver.find_element_by_xpath("//div[@class='_3JPEe']/div[3]/div/span[2]").text)
    except NoSuchElementException: 
        variant_list1.append('-')
       
    
    try:
        year_list1.append(driver.find_element_by_xpath("//div[@class='_3JPEe']/div[4]/div/span[2]").text)
    except NoSuchElementException: 
        year_list1.append('-')
        
        
    try:
        fuel_list1.append(driver.find_element_by_xpath("//div[@class='_3JPEe']/div[5]/div/span[2]").text)
    except NoSuchElementException: 
        fuel_list1.append('-')
     
    
    try:
        trans_list1.append(driver.find_element_by_xpath("//div[@class='_3JPEe']/div[6]/div/span[2]").text)
    except NoSuchElementException: 
        trans_list1.append('-')
       
    
    try:
        kms_list1.append(driver.find_element_by_xpath("//div[@class='_3JPEe']/div[7]/div/span[2]").text)
    except NoSuchElementException: 
        kms_list1.append('-')
        
        
    try:   
        owners_list1.append(driver.find_element_by_xpath("//div[@class='_3JPEe']/div[8]/div/span[2]").text)
    except NoSuchElementException: 
        owners_list1.append('-')
        
    try:   
        price_list1.append(driver.find_element_by_xpath("//div[@class='rui-2CYS9']/section/span[1]").text)
    except NoSuchElementException: 
        price_list1.append('-')
       
    
    
    try:
        location_list1.append(driver.find_element_by_xpath("//div[@class='_2A3Wa']/span").text.split(",")[-1])        
    except NoSuchElementException: 
        location_list1.append('-')

In [21]:
#now the length of all the fetched details should be 496
print(len(brand_list1))
print(len(model_list1))
print(len(variant_list1))
print(len(year_list1))
print(len(fuel_list1))
print(len(trans_list1))
print(len(kms_list1))
print(len(owners_list1))
print(len(price_list1))
print(len(location_list1))

496
496
496
496
496
496
496
496
496
496

In [22]:
#creating dataframe
df1=pd.DataFrame({
    'Brand':brand_list1,
    'Model':model_list1,
    'Variant':variant_list1,
    'Year':year_list1,
    'Kms driven':kms_list1,
    'Fuel':fuel_list1,
    'Transmission':trans_list1,
    'Number of owners':owners_list1,
    'Location':location_list1,
    'Price':price_list1})
df1

,Brand,Model,Variant,Year,Kms driven,Fuel,Transmission,Number of owners,Location,Price
0,Tata,Tl,Others,2008,30 km,Diesel,Manual,1st,Gujarat,"₹ 80,000"
1,Renault,Duster,2012-2015 110PS Diesel-RxZ,2016,"90,000 km",Diesel,Manual,1st,Gujarat,"₹ 4,51,000"
2,Tata,Safari,Dicor VX 4X2,2008,"125,600 km",Diesel,Manual,2nd,Gujarat,"₹ 1,70,001"
3,Hyundai,i20,2012-2014 Sportz 1.2,2013,"70,330 km",Diesel,Manual,1st,Gujarat,"₹ 3,69,000"
4,Mahindra,Bolero,2001-2010 XLS 7 Seater,2013,"90,000 km",Diesel,Automatic,2nd,Gujarat,"₹ 3,50,000"
...,...,...,...,...,...,...,...,...,...,...
491,Volvo,V40,D3,2014,"45,000 km",Diesel,Automatic,1st,Gujarat,"₹ 17,75,000"
492,Volvo,XC40,D4 R-Design,2018,"43,000 km",Diesel,Automatic,1st,Gujarat,"₹ 33,50,000"
493,Volvo,XC90,Inscription Luxury,2020,"36,000 km",Diesel,Automatic,1st,Gujarat,"₹ 74,50,000"
494,Volvo,XC90,Inscription Luxury,2020,"35,000 km",Diesel,Automatic,1st,Gujarat,"₹ 74,50,000"
495,Volvo,XC90,Inscription Luxury,2020,"36,000 km",Diesel,Automatic,1st,Gujarat,"₹ 74,50,000"

In [23]:
#save the dataframe as csv for future use
df1.to_csv("Cars from Gujarat.csv")

### Cars in Maharashtra

In [1]:
#import required libraries
from selenium import webdriver
import time
import pandas as pd
from selenium.common.exceptions import NoSuchElementException

In [2]:
#connecting to the chrome driver
driver=webdriver.Chrome(r"C://Chromedriver.exe")
driver.maximize_window()

In [3]:
#url to fetch cars belonging to maharashtra
driver.get("https://www.olx.in/maharashtra_g2001163/cars_c84")
time.sleep(5)

In [4]:
# clicking load more button 
for i in range(12):
    load=driver.find_element_by_xpath("//button[@class='rui-39-wj rui-3evoE rui-1JPTg']")
    load.click()
    time.sleep(6)

In [5]:
#fetch urls of all the products first
url_list1=[]
for i in driver.find_elements_by_xpath("//div[@class='rui-jAIPe']/div/div[5]/div[2]/div/div[2]/ul/li/a"):
    url_list1.append(i.get_attribute("href"))

In [6]:
#check the urls
url_list1[0:2]

['https://www.olx.in/item/maruti-suzuki-ciaz-2016-petrol-iid-1641923590',
 'https://www.olx.in/item/mahindra-kuv-100-2016-petrol-iid-1642690097']

In [7]:
#number of urls fetched
print(len(url_list1))

500

In [8]:
#check if all the urls are fetched and no data is repeated
import numpy as np
x=np.array(url_list1)
print(len(np.unique(x)))

462

In [9]:
#drop the duplicate urls
url_list1=np.unique(url_list1)
len(url_list1)

462

In [10]:
#create empty lists
brand_list1=[]
model_list1=[]
variant_list1=[]
year_list1=[]
fuel_list1=[]
trans_list1=[]
kms_list1=[]
owners_list1=[]
price_list1=[]
location_list1=[]

In [11]:
#scrap the data
for i in url_list1[0:100]:
    driver.get(i)
    time.sleep(0.10)
    
    try:
        brand_list1.append(driver.find_element_by_xpath(" //span[@data-aut-id='value_make']").text)
    except NoSuchElementException:
        brand_list1.append('-')    
        
    try:   
        model_list1.append(driver.find_element_by_xpath("//div[@class='_3JPEe']/div[2]/div/span[2]").text)
    except NoSuchElementException: 
        model_list1.append('-')
    
    try:
        variant_list1.append(driver.find_element_by_xpath("//div[@class='_3JPEe']/div[3]/div/span[2]").text)
    except NoSuchElementException: 
        variant_list1.append('-')
       
    
    try:
        year_list1.append(driver.find_element_by_xpath("//div[@class='_3JPEe']/div[4]/div/span[2]").text)
    except NoSuchElementException: 
        year_list1.append('-')
        
        
    try:
        fuel_list1.append(driver.find_element_by_xpath("//div[@class='_3JPEe']/div[5]/div/span[2]").text)
    except NoSuchElementException: 
        fuel_list1.append('-')
     
    
    try:
        trans_list1.append(driver.find_element_by_xpath("//div[@class='_3JPEe']/div[6]/div/span[2]").text)
    except NoSuchElementException: 
        trans_list1.append('-')
       
    
    try:
        kms_list1.append(driver.find_element_by_xpath("//div[@class='_3JPEe']/div[7]/div/span[2]").text)
    except NoSuchElementException: 
        kms_list1.append('-')
        
        
    try:   
        owners_list1.append(driver.find_element_by_xpath("//div[@class='_3JPEe']/div[8]/div/span[2]").text)
    except NoSuchElementException: 
        owners_list1.append('-')
        
    try:   
        price_list1.append(driver.find_element_by_xpath("//div[@class='rui-2CYS9']/section/span[1]").text)
    except NoSuchElementException: 
        price_list1.append('-')
       
    
    
    try:
        location_list1.append(driver.find_element_by_xpath("//div[@class='_2A3Wa']/span").text.split(",")[-1])        
    except NoSuchElementException: 
        location_list1.append('-')

In [12]:
#check the data collected
print(brand_list1[0:5])
print("\n")
print(model_list1[0:5])
print("\n")
print(variant_list1[0:5])
print("\n")
print(year_list1[0:5])
print("\n")
print(fuel_list1[0:5])
print("\n")
print(trans_list1[0:5])
print("\n")
print(kms_list1[0:5])
print("\n")
print(owners_list1[0:5])
print("\n")
print(price_list1[0:5])
print("\n")
print(location_list1[0:5])

['Maruti Suzuki', 'Honda', 'Maruti Suzuki', 'Audi', 'Audi']


['Alto', 'City', 'Alto K10', 'A3', 'A4']


['LX', '2015-2017 i VTEC CVT SV', '2010-2014 LXI', '35 TDI Premium + Sunroof', '2.0 TDI']


['2003', '2015', '2011', '2016', '2011']


['LPG', 'Petrol', 'Petrol', 'Diesel', 'Diesel']


['Automatic', 'Manual', 'Automatic', 'Automatic', 'Automatic']


['110,210 km', '45,000 km', '100,000 km', '52,496 km', '85,000 km']


['2nd', '1st', '2nd', '1st', '1st']


['₹ 1,10,000', '₹ 7,25,000', '₹ 1,70,000', '₹ 15,60,000', '₹ 9,75,000']


[' Maharashtra', ' Maharashtra', ' Maharashtra', ' Maharashtra', ' Maharashtra']

In [13]:
#checking length of all the fetched details
print(len(brand_list1))
print(len(model_list1))
print(len(variant_list1))
print(len(year_list1))
print(len(fuel_list1))
print(len(trans_list1))
print(len(kms_list1))
print(len(owners_list1))
print(len(price_list1))
print(len(location_list1))

100
100
100
100
100
100
100
100
100
100

In [14]:
#fetch other 100 cars and append in the same lists
for i in url_list1[100:200]:
    driver.get(i)
    time.sleep(0.10)
    
    try:
        brand_list1.append(driver.find_element_by_xpath(" //span[@data-aut-id='value_make']").text)
    except NoSuchElementException:
        brand_list1.append('-')    
        
    try:   
        model_list1.append(driver.find_element_by_xpath("//div[@class='_3JPEe']/div[2]/div/span[2]").text)
    except NoSuchElementException: 
        model_list1.append('-')
    
    try:
        variant_list1.append(driver.find_element_by_xpath("//div[@class='_3JPEe']/div[3]/div/span[2]").text)
    except NoSuchElementException: 
        variant_list1.append('-')
       
    
    try:
        year_list1.append(driver.find_element_by_xpath("//div[@class='_3JPEe']/div[4]/div/span[2]").text)
    except NoSuchElementException: 
        year_list1.append('-')
        
        
    try:
        fuel_list1.append(driver.find_element_by_xpath("//div[@class='_3JPEe']/div[5]/div/span[2]").text)
    except NoSuchElementException: 
        fuel_list1.append('-')
     
    
    try:
        trans_list1.append(driver.find_element_by_xpath("//div[@class='_3JPEe']/div[6]/div/span[2]").text)
    except NoSuchElementException: 
        trans_list1.append('-')
       
    
    try:
        kms_list1.append(driver.find_element_by_xpath("//div[@class='_3JPEe']/div[7]/div/span[2]").text)
    except NoSuchElementException: 
        kms_list1.append('-')
        
        
    try:   
        owners_list1.append(driver.find_element_by_xpath("//div[@class='_3JPEe']/div[8]/div/span[2]").text)
    except NoSuchElementException: 
        owners_list1.append('-')
        
    try:   
        price_list1.append(driver.find_element_by_xpath("//div[@class='rui-2CYS9']/section/span[1]").text)
    except NoSuchElementException: 
        price_list1.append('-')
       
    
    
    try:
        location_list1.append(driver.find_element_by_xpath("//div[@class='_2A3Wa']/span").text.split(",")[-1])        
    except NoSuchElementException: 
        location_list1.append('-')

In [15]:
#now the length of all the fetched details should be 200
print(len(brand_list1))
print(len(model_list1))
print(len(variant_list1))
print(len(year_list1))
print(len(fuel_list1))
print(len(trans_list1))
print(len(kms_list1))
print(len(owners_list1))
print(len(price_list1))
print(len(location_list1))

200
200
200
200
200
200
200
200
200
200

In [16]:
#fetch other 100 cars and append in the same lists
for i in url_list1[200:300]:
    driver.get(i)
    time.sleep(0.10)
    
    try:
        brand_list1.append(driver.find_element_by_xpath(" //span[@data-aut-id='value_make']").text)
    except NoSuchElementException:
        brand_list1.append('-')    
        
    try:   
        model_list1.append(driver.find_element_by_xpath("//div[@class='_3JPEe']/div[2]/div/span[2]").text)
    except NoSuchElementException: 
        model_list1.append('-')
    
    try:
        variant_list1.append(driver.find_element_by_xpath("//div[@class='_3JPEe']/div[3]/div/span[2]").text)
    except NoSuchElementException: 
        variant_list1.append('-')
       
    
    try:
        year_list1.append(driver.find_element_by_xpath("//div[@class='_3JPEe']/div[4]/div/span[2]").text)
    except NoSuchElementException: 
        year_list1.append('-')
        
        
    try:
        fuel_list1.append(driver.find_element_by_xpath("//div[@class='_3JPEe']/div[5]/div/span[2]").text)
    except NoSuchElementException: 
        fuel_list1.append('-')
     
    
    try:
        trans_list1.append(driver.find_element_by_xpath("//div[@class='_3JPEe']/div[6]/div/span[2]").text)
    except NoSuchElementException: 
        trans_list1.append('-')
       
    
    try:
        kms_list1.append(driver.find_element_by_xpath("//div[@class='_3JPEe']/div[7]/div/span[2]").text)
    except NoSuchElementException: 
        kms_list1.append('-')
        
        
    try:   
        owners_list1.append(driver.find_element_by_xpath("//div[@class='_3JPEe']/div[8]/div/span[2]").text)
    except NoSuchElementException: 
        owners_list1.append('-')
        
    try:   
        price_list1.append(driver.find_element_by_xpath("//div[@class='rui-2CYS9']/section/span[1]").text)
    except NoSuchElementException: 
        price_list1.append('-')
       
    
    
    try:
        location_list1.append(driver.find_element_by_xpath("//div[@class='_2A3Wa']/span").text.split(",")[-1])        
    except NoSuchElementException: 
        location_list1.append('-')

In [17]:
#now the length of all the fetched details should be 300
print(len(brand_list1))
print(len(model_list1))
print(len(variant_list1))
print(len(year_list1))
print(len(fuel_list1))
print(len(trans_list1))
print(len(kms_list1))
print(len(owners_list1))
print(len(price_list1))
print(len(location_list1))

300
300
300
300
300
300
300
300
300
300

In [18]:
#fetch other 100 cars and append in the same lists
for i in url_list1[300:400]:
    driver.get(i)
    time.sleep(0.10)
    
    try:
        brand_list1.append(driver.find_element_by_xpath(" //span[@data-aut-id='value_make']").text)
    except NoSuchElementException:
        brand_list1.append('-')    
        
    try:   
        model_list1.append(driver.find_element_by_xpath("//div[@class='_3JPEe']/div[2]/div/span[2]").text)
    except NoSuchElementException: 
        model_list1.append('-')
    
    try:
        variant_list1.append(driver.find_element_by_xpath("//div[@class='_3JPEe']/div[3]/div/span[2]").text)
    except NoSuchElementException: 
        variant_list1.append('-')
       
    
    try:
        year_list1.append(driver.find_element_by_xpath("//div[@class='_3JPEe']/div[4]/div/span[2]").text)
    except NoSuchElementException: 
        year_list1.append('-')
        
        
    try:
        fuel_list1.append(driver.find_element_by_xpath("//div[@class='_3JPEe']/div[5]/div/span[2]").text)
    except NoSuchElementException: 
        fuel_list1.append('-')
     
    
    try:
        trans_list1.append(driver.find_element_by_xpath("//div[@class='_3JPEe']/div[6]/div/span[2]").text)
    except NoSuchElementException: 
        trans_list1.append('-')
       
    
    try:
        kms_list1.append(driver.find_element_by_xpath("//div[@class='_3JPEe']/div[7]/div/span[2]").text)
    except NoSuchElementException: 
        kms_list1.append('-')
        
        
    try:   
        owners_list1.append(driver.find_element_by_xpath("//div[@class='_3JPEe']/div[8]/div/span[2]").text)
    except NoSuchElementException: 
        owners_list1.append('-')
        
    try:   
        price_list1.append(driver.find_element_by_xpath("//div[@class='rui-2CYS9']/section/span[1]").text)
    except NoSuchElementException: 
        price_list1.append('-')
       
    
    
    try:
        location_list1.append(driver.find_element_by_xpath("//div[@class='_2A3Wa']/span").text.split(",")[-1])        
    except NoSuchElementException: 
        location_list1.append('-')

In [19]:
#now the length of all the fetched details should be 400
print(len(brand_list1))
print(len(model_list1))
print(len(variant_list1))
print(len(year_list1))
print(len(fuel_list1))
print(len(trans_list1))
print(len(kms_list1))
print(len(owners_list1))
print(len(price_list1))
print(len(location_list1))

400
400
400
400
400
400
400
400
400
400

In [20]:
#fetch other cars and append in the same lists
for i in url_list1[400:462]:
    driver.get(i)
    time.sleep(0.10)
    
    try:
        brand_list1.append(driver.find_element_by_xpath(" //span[@data-aut-id='value_make']").text)
    except NoSuchElementException:
        brand_list1.append('-')    
        
    try:   
        model_list1.append(driver.find_element_by_xpath("//div[@class='_3JPEe']/div[2]/div/span[2]").text)
    except NoSuchElementException: 
        model_list1.append('-')
    
    try:
        variant_list1.append(driver.find_element_by_xpath("//div[@class='_3JPEe']/div[3]/div/span[2]").text)
    except NoSuchElementException: 
        variant_list1.append('-')
       
    
    try:
        year_list1.append(driver.find_element_by_xpath("//div[@class='_3JPEe']/div[4]/div/span[2]").text)
    except NoSuchElementException: 
        year_list1.append('-')
        
        
    try:
        fuel_list1.append(driver.find_element_by_xpath("//div[@class='_3JPEe']/div[5]/div/span[2]").text)
    except NoSuchElementException: 
        fuel_list1.append('-')
     
    
    try:
        trans_list1.append(driver.find_element_by_xpath("//div[@class='_3JPEe']/div[6]/div/span[2]").text)
    except NoSuchElementException: 
        trans_list1.append('-')
       
    
    try:
        kms_list1.append(driver.find_element_by_xpath("//div[@class='_3JPEe']/div[7]/div/span[2]").text)
    except NoSuchElementException: 
        kms_list1.append('-')
        
        
    try:   
        owners_list1.append(driver.find_element_by_xpath("//div[@class='_3JPEe']/div[8]/div/span[2]").text)
    except NoSuchElementException: 
        owners_list1.append('-')
        
    try:   
        price_list1.append(driver.find_element_by_xpath("//div[@class='rui-2CYS9']/section/span[1]").text)
    except NoSuchElementException: 
        price_list1.append('-')
       
    
    
    try:
        location_list1.append(driver.find_element_by_xpath("//div[@class='_2A3Wa']/span").text.split(",")[-1])        
    except NoSuchElementException: 
        location_list1.append('-')

In [21]:
#now the length of all the fetched details should be 400
print(len(brand_list1))
print(len(model_list1))
print(len(variant_list1))
print(len(year_list1))
print(len(fuel_list1))
print(len(trans_list1))
print(len(kms_list1))
print(len(owners_list1))
print(len(price_list1))
print(len(location_list1))

462
462
462
462
462
462
462
462
462
462

In [22]:
#creating dataframe
df2=pd.DataFrame({
    'Brand':brand_list1,
    'Model':model_list1,
    'Variant':variant_list1,
    'Year':year_list1,
    'Kms driven':kms_list1,
    'Fuel':fuel_list1,
    'Transmission':trans_list1,
    'Number of owners':owners_list1,
    'Location':location_list1,
    'Price':price_list1})
df2

,Brand,Model,Variant,Year,Kms driven,Fuel,Transmission,Number of owners,Location,Price
0,Maruti Suzuki,Alto,LX,2003,"110,210 km",LPG,Automatic,2nd,Maharashtra,"₹ 1,10,000"
1,Honda,City,2015-2017 i VTEC CVT SV,2015,"45,000 km",Petrol,Manual,1st,Maharashtra,"₹ 7,25,000"
2,Maruti Suzuki,Alto K10,2010-2014 LXI,2011,"100,000 km",Petrol,Automatic,2nd,Maharashtra,"₹ 1,70,000"
3,Audi,A3,35 TDI Premium + Sunroof,2016,"52,496 km",Diesel,Automatic,1st,Maharashtra,"₹ 15,60,000"
4,Audi,A4,2.0 TDI,2011,"85,000 km",Diesel,Automatic,1st,Maharashtra,"₹ 9,75,000"
...,...,...,...,...,...,...,...,...,...,...
457,Volkswagen,Vento,1.6 Highline,2012,"90,000 km",Diesel,Manual,2nd,Maharashtra,"₹ 4,11,000"
458,Volkswagen,Vento,1.6 Highline,2012,"59,326 km",Petrol,Automatic,-,Maharashtra,"₹ 2,75,000"
459,Volkswagen,Vento,2010-2013 Diesel Trendline,2012,"96,500 km",Diesel,Manual,1st,Maharashtra,"₹ 3,90,000"
460,Volvo,S90,D4 Inscription,2018,1st,Diesel,"40,000 km",-,Maharashtra,"₹ 44,50,000"
461,Tata,Manza,"Manza Aura (ABS), Quadrajet BS-IV",2010,"75,000 km",Petrol,Manual,1st,Maharashtra,"₹ 1,50,000"

In [23]:
#save the dataframe as csv for future use
df2.to_csv("Cars from Maharashtra.csv")

### Cars from tamil nadu

In [1]:
#import required libraries
from selenium import webdriver
import time
import pandas as pd
from selenium.common.exceptions import NoSuchElementException

In [2]:
#connecting to the chrome driver
driver=webdriver.Chrome(r"C://Chromedriver.exe")
driver.maximize_window()

In [3]:
#url to fetch cars belonging to tamil nadu
driver.get("https://www.olx.in/tamil-nadu_g2001173/cars_c84")
time.sleep(5)

In [4]:
# clicking load more button 
for i in range(12):
    load=driver.find_element_by_xpath("//button[@class='rui-39-wj rui-3evoE rui-1JPTg']")
    load.click()
    time.sleep(6)

In [5]:
#fetch urls of all the products first
url_list1=[]
for i in driver.find_elements_by_xpath("//div[@class='rui-jAIPe']/div/div[5]/div[2]/div/div[2]/ul/li/a"):
    url_list1.append(i.get_attribute("href"))

In [6]:
#check the urls
url_list1[0:2]

['https://www.olx.in/item/maruti-suzuki-swift-2004-2010-vxi-bsiv-2008-petrol-iid-1648379968',
 'https://www.olx.in/item/maruti-suzuki-wagon-r-2018-petrol-well-maintained-iid-1644058673']

In [7]:
#number of urls fetched
print(len(url_list1))

520

In [8]:
#check if all the urls are fetched and no data is repeated
import numpy as np
x=np.array(url_list1)
print(len(np.unique(x)))

471

In [9]:
#drop the duplicate urls
url_list1=np.unique(url_list1)
len(url_list1)

471

In [10]:
#create empty lists
brand_list1=[]
model_list1=[]
variant_list1=[]
year_list1=[]
fuel_list1=[]
trans_list1=[]
kms_list1=[]
owners_list1=[]
price_list1=[]
location_list1=[]

In [11]:
#scrap the data
for i in url_list1[0:471]:
    driver.get(i)
    time.sleep(0.10)
    
    try:
        brand_list1.append(driver.find_element_by_xpath(" //span[@data-aut-id='value_make']").text)
    except NoSuchElementException:
        brand_list1.append('-')    
        
    try:   
        model_list1.append(driver.find_element_by_xpath("//div[@class='_3JPEe']/div[2]/div/span[2]").text)
    except NoSuchElementException: 
        model_list1.append('-')
    
    try:
        variant_list1.append(driver.find_element_by_xpath("//div[@class='_3JPEe']/div[3]/div/span[2]").text)
    except NoSuchElementException: 
        variant_list1.append('-')
       
    
    try:
        year_list1.append(driver.find_element_by_xpath("//div[@class='_3JPEe']/div[4]/div/span[2]").text)
    except NoSuchElementException: 
        year_list1.append('-')
        
        
    try:
        fuel_list1.append(driver.find_element_by_xpath("//div[@class='_3JPEe']/div[5]/div/span[2]").text)
    except NoSuchElementException: 
        fuel_list1.append('-')
     
    
    try:
        trans_list1.append(driver.find_element_by_xpath("//div[@class='_3JPEe']/div[6]/div/span[2]").text)
    except NoSuchElementException: 
        trans_list1.append('-')
       
    
    try:
        kms_list1.append(driver.find_element_by_xpath("//div[@class='_3JPEe']/div[7]/div/span[2]").text)
    except NoSuchElementException: 
        kms_list1.append('-')
        
        
    try:   
        owners_list1.append(driver.find_element_by_xpath("//div[@class='_3JPEe']/div[8]/div/span[2]").text)
    except NoSuchElementException: 
        owners_list1.append('-')
        
    try:   
        price_list1.append(driver.find_element_by_xpath("//div[@class='rui-2CYS9']/section/span[1]").text)
    except NoSuchElementException: 
        price_list1.append('-')
       
    
    
    try:
        location_list1.append(driver.find_element_by_xpath("//div[@class='_2A3Wa']/span").text.split(",")[-1])        
    except NoSuchElementException: 
        location_list1.append('-')

In [12]:
#check the data collected
print(brand_list1[0:5])
print("\n")
print(model_list1[0:5])
print("\n")
print(variant_list1[0:5])
print("\n")
print(year_list1[0:5])
print("\n")
print(fuel_list1[0:5])
print("\n")
print(trans_list1[0:5])
print("\n")
print(kms_list1[0:5])
print("\n")
print(owners_list1[0:5])
print("\n")
print(price_list1[0:5])
print("\n")
print(location_list1[0:5])

['Tata', 'Ambassador', 'BMW', 'Volkswagen', 'Maruti Suzuki']


['Indigo', 'Ambassador', 'X5', 'Jetta', 'Alto']


['GLX', 'Others', 'xDrive 30d', '2.0L TDI Highline AT', 'Others']


['2010', '1980', '2011', '2011', '2007']


['Diesel', 'Diesel', 'Diesel', 'Diesel', 'Diesel']


['Manual', 'Manual', 'Automatic', 'Automatic', 'Manual']


['80,000 km', '100,000 km', '100,000 km', '120,000 km', '2,806 km']


['4+', '2nd', '2nd', '4th', '3rd']


['₹ 1,10,000', '₹ 1,75,000', '₹ 16,90,000', '₹ 6,50,000', '₹ 1,60,000']


[' Tamil Nadu', ' Tamil Nadu', ' Tamil Nadu', ' Tamil Nadu', ' Tamil Nadu']

In [13]:
#checking length of all the fetched details
print(len(brand_list1))
print(len(model_list1))
print(len(variant_list1))
print(len(year_list1))
print(len(fuel_list1))
print(len(trans_list1))
print(len(kms_list1))
print(len(owners_list1))
print(len(price_list1))
print(len(location_list1))

471
471
471
471
471
471
471
471
471
471

In [14]:
#creating dataframe
df3=pd.DataFrame({
    'Brand':brand_list1,
    'Model':model_list1,
    'Variant':variant_list1,
    'Year':year_list1,
    'Kms driven':kms_list1,
    'Fuel':fuel_list1,
    'Transmission':trans_list1,
    'Number of owners':owners_list1,
    'Location':location_list1,
    'Price':price_list1})
df3

,Brand,Model,Variant,Year,Kms driven,Fuel,Transmission,Number of owners,Location,Price
0,Tata,Indigo,GLX,2010,"80,000 km",Diesel,Manual,4+,Tamil Nadu,"₹ 1,10,000"
1,Ambassador,Ambassador,Others,1980,"100,000 km",Diesel,Manual,2nd,Tamil Nadu,"₹ 1,75,000"
2,BMW,X5,xDrive 30d,2011,"100,000 km",Diesel,Automatic,2nd,Tamil Nadu,"₹ 16,90,000"
3,Volkswagen,Jetta,2.0L TDI Highline AT,2011,"120,000 km",Diesel,Automatic,4th,Tamil Nadu,"₹ 6,50,000"
4,Maruti Suzuki,Alto,Others,2007,"2,806 km",Diesel,Manual,3rd,Tamil Nadu,"₹ 1,60,000"
...,...,...,...,...,...,...,...,...,...,...
466,Volkswagen,Vento,1.6 Highline Plus,2019,"18,500 km",Petrol,Manual,1st,Tamil Nadu,"₹ 9,75,000"
467,Volkswagen,Vento,1.6 Highline Plus,2011,"105,000 km",Diesel,Manual,3rd,Tamil Nadu,"₹ 3,80,000"
468,Volkswagen,Vento,1.6 Highline,2012,"90,000 km",Diesel,Manual,2nd,Tamil Nadu,"₹ 4,20,000"
469,Volkswagen,Vento,2013-2015 1.6 Highline,2015,"84,061 km",Petrol,Automatic,1st,Tamil Nadu,"₹ 5,50,000"
470,Maruti Suzuki,Wagon R Duo,Others,2008,"120,000 km",LPG,Manual,2nd,Tamil Nadu,"₹ 2,25,000"

In [15]:
#save the dataframe as csv for future use
df3.to_csv("Cars from TamilNadu.csv")

### Cars in Kerala

In [1]:
#import required libraries
from selenium import webdriver
import time
import pandas as pd
from selenium.common.exceptions import NoSuchElementException

In [2]:
#connecting to the chrome driver
driver=webdriver.Chrome(r"C://Chromedriver.exe")
driver.maximize_window()

In [3]:
#url to fetch cars belonging to kerala
driver.get("https://www.olx.in/kerala_g2001160/cars_c84")
time.sleep(5)

In [4]:
# clicking load more button for 12 times
for i in range(12):
    load=driver.find_element_by_xpath("//button[@class='rui-39-wj rui-3evoE rui-1JPTg']")
    load.click()
    time.sleep(6)

In [5]:
#fetch urls of all the products first
url_list=[]
for i in driver.find_elements_by_xpath("//div[@class='rui-jAIPe']/div/div[5]/div[2]/div/div[2]/ul/li/a"):
    url_list.append(i.get_attribute("href"))

In [6]:
#check the urls
url_list[0:2]

['https://www.olx.in/item/renault-kwid-rxl-2019-petrol-iid-1626177568',
 'https://www.olx.in/item/maruti-suzuki-gypsy-1996-2000-king-soft-top-1997-petrol-iid-1633042352']

In [7]:
#number of urls fetched
print(len(url_list))

500

In [8]:
#check if all the urls are fetched and no data is repeated
import numpy as np
x=np.array(url_list)
print(len(np.unique(x)))

483

In [9]:
#drop the duplicate urls
url_list=np.unique(url_list)
len(url_list)

483

In [10]:
#create empty lists
brand_list=[]
model_list=[]
variant_list=[]
year_list=[]
fuel_list=[]
trans_list=[]
kms_list=[]
owners_list=[]
price_list=[]
location_list=[]

In [11]:
for i in url_list:
    driver.get(i)
    time.sleep(0.10)
    
    try:
        brand_list.append(driver.find_element_by_xpath(" //span[@data-aut-id='value_make']").text)
    except NoSuchElementException:
        brand_list.append('-')    
        
    try:   
        model_list.append(driver.find_element_by_xpath("//div[@class='_3JPEe']/div[2]/div/span[2]").text)
    except NoSuchElementException: 
        model_list.append('-')
    
    try:
        variant_list.append(driver.find_element_by_xpath("//div[@class='_3JPEe']/div[3]/div/span[2]").text)
    except NoSuchElementException: 
        variant_list.append('-')
       
    
    try:
        year_list.append(driver.find_element_by_xpath("//div[@class='_3JPEe']/div[4]/div/span[2]").text)
    except NoSuchElementException: 
        year_list.append('-')
        
        
    try:
        fuel_list.append(driver.find_element_by_xpath("//div[@class='_3JPEe']/div[5]/div/span[2]").text)
    except NoSuchElementException: 
        fuel_list.append('-')
     
    
    try:
        trans_list.append(driver.find_element_by_xpath("//div[@class='_3JPEe']/div[6]/div/span[2]").text)
    except NoSuchElementException: 
        trans_list.append('-')
       
    
    try:
        kms_list.append(driver.find_element_by_xpath("//div[@class='_3JPEe']/div[7]/div/span[2]").text)
    except NoSuchElementException: 
        kms_list.append('-')
        
        
    try:   
        owners_list.append(driver.find_element_by_xpath("//div[@class='_3JPEe']/div[8]/div/span[2]").text)
    except NoSuchElementException: 
        owners_list.append('-')
        
    try:   
        price_list.append(driver.find_element_by_xpath("//div[@class='rui-2CYS9']/section/span[1]").text)
    except NoSuchElementException: 
        price_list.append('-')
       
    
    try:
        location_list.append(driver.find_element_by_xpath("//div[@class='_2A3Wa']/span").text.split(",")[-1])        
    except NoSuchElementException: 
        location_list.append('-')

In [12]:
print(brand_list[0:5])
print("\n")
print(model_list[0:5])
print("\n")
print(variant_list[0:5])
print("\n")
print(year_list[0:5])
print("\n")
print(fuel_list[0:5])
print("\n")
print(trans_list[0:5])
print("\n")
print(kms_list[0:5])
print("\n")
print(owners_list[0:5])
print("\n")
print(price_list[0:5])
print("\n")
print(location_list[0:5])

['Bajaj', 'Tata', 'Mahindra', 'Maruti Suzuki', 'Maruti Suzuki']


['Others', 'Others', 'Jeep', 'Swift Dzire', 'Vitara Brezza']


['Others', 'Others', 'CL 500 MDI', 'VDI', 'ZDi Plus Dual Tone']


['1998', '2010', '1993', '2009', '2016']


['Petrol', 'Diesel', 'Diesel', 'Diesel', 'Diesel']


['Manual', 'Manual', 'Manual', 'Manual', 'Manual']


['50,000 km', '80,000 km', '11,000 km', '120,000 km', '70,000 km']


['4th', '2nd', '3rd', '2nd', '1st']


['₹ 21,000', '₹ 70,000', '₹ 1,90,000', '₹ 2,65,000', '₹ 7,80,000']


[' Kerala', ' Kerala', ' Kerala', ' Kerala', ' Kerala']

In [13]:
#checking length of all the fetched details
print(len(brand_list))
print(len(model_list))
print(len(variant_list))
print(len(year_list))
print(len(fuel_list))
print(len(trans_list))
print(len(kms_list))
print(len(owners_list))
print(len(price_list))
print(len(location_list))

483
483
483
483
483
483
483
483
483
483

In [15]:
#creating dataframe
df4=pd.DataFrame({
    'Brand':brand_list,
    'Model':model_list,
    'Variant':variant_list,
    'Year':year_list,
    'Kms driven':kms_list,
    'Fuel':fuel_list,
    'Transmission':trans_list,
    'Number of owners':owners_list,
    'Location':location_list,
    'Price':price_list})
df4

,Brand,Model,Variant,Year,Kms driven,Fuel,Transmission,Number of owners,Location,Price
0,Bajaj,Others,Others,1998,"50,000 km",Petrol,Manual,4th,Kerala,"₹ 21,000"
1,Tata,Others,Others,2010,"80,000 km",Diesel,Manual,2nd,Kerala,"₹ 70,000"
2,Mahindra,Jeep,CL 500 MDI,1993,"11,000 km",Diesel,Manual,3rd,Kerala,"₹ 1,90,000"
3,Maruti Suzuki,Swift Dzire,VDI,2009,"120,000 km",Diesel,Manual,2nd,Kerala,"₹ 2,65,000"
4,Maruti Suzuki,Vitara Brezza,ZDi Plus Dual Tone,2016,"70,000 km",Diesel,Manual,1st,Kerala,"₹ 7,80,000"
...,...,...,...,...,...,...,...,...,...,...
478,Volvo,V40,2016,Diesel,-,123 km,-,-,Kerala,"₹ 11,11,111"
479,Volvo,V40 Cross Country,2017,Petrol,-,"14,700 km",-,-,Kerala,"₹ 16,00,000"
480,Maruti Suzuki,Wagon R,1999-2006 VXI BSIII,2003,"130,000 km",Petrol,Manual,2nd,Kerala,"₹ 1,15,000"
481,Maruti Suzuki,Celerio,2014-2017 Green VXI,2021,0 km,Petrol,Automatic,1st,Kerala,"₹ 30,000"
482,Mahindra,Others,Others,2012,"74,000 km",Diesel,Manual,3rd,Kerala,"₹ 2,50,000"

In [16]:
#save the dataframe as csv for future use
df4.to_csv("Cars from Kerala.csv")

### Cars from Delhi

In [1]:
#import required libraries
from selenium import webdriver
import time
import pandas as pd
from selenium.common.exceptions import NoSuchElementException

In [2]:
#connecting to the chrome driver
driver=webdriver.Chrome(r"C://Chromedriver.exe")
driver.maximize_window()

In [3]:
#url to fetch cars belonging to Delhi
driver.get("https://www.olx.in/delhi_g2001152/cars_c84")
time.sleep(5)

In [4]:
# clicking load more button 
for i in range(12):
    load=driver.find_element_by_xpath("//button[@class='rui-39-wj rui-3evoE rui-1JPTg']")
    load.click()
    time.sleep(6)

In [5]:
#fetch urls of all the products first
url_list1=[]
for i in driver.find_elements_by_xpath("//div[@class='rui-jAIPe']/div/div[5]/div[2]/div/div[2]/ul/li/a"):
    url_list1.append(i.get_attribute("href"))

In [6]:
#check the urls
url_list1[0:2]

['https://www.olx.in/item/hyundai-grand-i10-2013-2016-sportz-2015-petrol-iid-1630928216',
 'https://www.olx.in/item/renault-duster-rxs-cvt-106-ps-2019-petrol-iid-1631706389']

In [7]:
#number of urls fetched
print(len(url_list1))

500

In [8]:
#check if all the urls are fetched and no data is repeated
import numpy as np
x=np.array(url_list1)
print(len(np.unique(x)))

489

In [9]:
#drop the duplicate urls
url_list1=np.unique(url_list1)
len(url_list1)

489

In [10]:
#create empty lists
brand_list1=[]
model_list1=[]
variant_list1=[]
year_list1=[]
fuel_list1=[]
trans_list1=[]
kms_list1=[]
owners_list1=[]
price_list1=[]
location_list1=[]

In [11]:
#data collection
for i in url_list1:
    driver.get(i)
    time.sleep(0.10)
    
    try:
        brand_list1.append(driver.find_element_by_xpath(" //span[@data-aut-id='value_make']").text)
    except NoSuchElementException:
        brand_list1.append('-')    
        
    try:   
        model_list1.append(driver.find_element_by_xpath("//div[@class='_3JPEe']/div[2]/div/span[2]").text)
    except NoSuchElementException: 
        model_list1.append('-')
    
    try:
        variant_list1.append(driver.find_element_by_xpath("//div[@class='_3JPEe']/div[3]/div/span[2]").text)
    except NoSuchElementException: 
        variant_list1.append('-')
       
    
    try:
        year_list1.append(driver.find_element_by_xpath("//div[@class='_3JPEe']/div[4]/div/span[2]").text)
    except NoSuchElementException: 
        year_list1.append('-')
        
        
    try:
        fuel_list1.append(driver.find_element_by_xpath("//div[@class='_3JPEe']/div[5]/div/span[2]").text)
    except NoSuchElementException: 
        fuel_list1.append('-')
     
    
    try:
        trans_list1.append(driver.find_element_by_xpath("//div[@class='_3JPEe']/div[6]/div/span[2]").text)
    except NoSuchElementException: 
        trans_list1.append('-')
       
    
    try:
        kms_list1.append(driver.find_element_by_xpath("//div[@class='_3JPEe']/div[7]/div/span[2]").text)
    except NoSuchElementException: 
        kms_list1.append('-')
        
        
    try:   
        owners_list1.append(driver.find_element_by_xpath("//div[@class='_3JPEe']/div[8]/div/span[2]").text)
    except NoSuchElementException: 
        owners_list1.append('-')
        
    try:   
        price_list1.append(driver.find_element_by_xpath("//div[@class='rui-2CYS9']/section/span[1]").text)
    except NoSuchElementException: 
        price_list1.append('-')
       
    
    
    try:
        location_list1.append(driver.find_element_by_xpath("//div[@class='_2A3Wa']/span").text.split(",")[-1])        
    except NoSuchElementException: 
        location_list1.append('-')

In [12]:
#check the collected data
print(brand_list1[0:5])
print("\n")
print(model_list1[0:5])
print("\n")
print(variant_list1[0:5])
print("\n")
print(year_list1[0:5])
print("\n")
print(fuel_list1[0:5])
print("\n")
print(trans_list1[0:5])
print("\n")
print(kms_list1[0:5])
print("\n")
print(owners_list1[0:5])
print("\n")
print(price_list1[0:5])
print("\n")
print(location_list1[0:5])

['Honda', 'Hyundai', 'MG', 'Maruti Suzuki', 'Audi']


['City', 'i10', 'Hector', 'Swift', 'A4']


['i-VTEC CVT VX', 'Magna 1.2 iTech SE', 'Sharp AT', 'LXI Option', '2.0 TDI (177bhp), Premium']


['2009', '2013', '2020', '2015', '2013']


['CNG & Hybrids', 'CNG & Hybrids', 'Petrol', 'Petrol', 'Diesel']


['Manual', 'Manual', 'Automatic', 'Manual', 'Automatic']


['85,000 km', '50,000 km', '4,000 km', '49,600 km', '48,000 km']


['1st', '1st', '1st', '2nd', '2nd']


['₹ 2,60,000', '₹ 2,45,000', '₹ 18,75,000', '₹ 4,50,000', '₹ 10,90,000']


[' Delhi', ' Delhi', ' Delhi', ' Delhi', ' Delhi']

In [13]:
#checking length of all the fetched details
print(len(brand_list1))
print(len(model_list1))
print(len(variant_list1))
print(len(year_list1))
print(len(fuel_list1))
print(len(trans_list1))
print(len(kms_list1))
print(len(owners_list1))
print(len(price_list1))
print(len(location_list1))

489
489
489
489
489
489
489
489
489
489

In [14]:
#creating dataframe
df5=pd.DataFrame({
    'Brand':brand_list1,
    'Model':model_list1,
    'Variant':variant_list1,
    'Year':year_list1,
    'Kms driven':kms_list1,
    'Fuel':fuel_list1,
    'Transmission':trans_list1,
    'Number of owners':owners_list1,
    'Location':location_list1,
    'Price':price_list1})
df5

,Brand,Model,Variant,Year,Kms driven,Fuel,Transmission,Number of owners,Location,Price
0,Honda,City,i-VTEC CVT VX,2009,"85,000 km",CNG & Hybrids,Manual,1st,Delhi,"₹ 2,60,000"
1,Hyundai,i10,Magna 1.2 iTech SE,2013,"50,000 km",CNG & Hybrids,Manual,1st,Delhi,"₹ 2,45,000"
2,MG,Hector,Sharp AT,2020,"4,000 km",Petrol,Automatic,1st,Delhi,"₹ 18,75,000"
3,Maruti Suzuki,Swift,LXI Option,2015,"49,600 km",Petrol,Manual,2nd,Delhi,"₹ 4,50,000"
4,Audi,A4,"2.0 TDI (177bhp), Premium",2013,"48,000 km",Diesel,Automatic,2nd,Delhi,"₹ 10,90,000"
...,...,...,...,...,...,...,...,...,...,...
484,Volkswagen,Vento,1.6 Comfortline,2019,"12,800 km",Petrol,Manual,1st,Delhi,"₹ 7,75,000"
485,Volkswagen,Vento,2013-2015 1.5 TDI Highline AT,2015,"70,399 km",Diesel,Automatic,1st,Delhi,"₹ 5,40,000"
486,Volkswagen,Vento,Others,2011,"63,800 km",CNG & Hybrids,Manual,3rd,Delhi,"₹ 2,60,000"
487,Volvo,XC60,D5 Inscription,2015,"60,000 km",Diesel,Automatic,1st,Delhi,"₹ 22,00,000"
488,Ford,Endeavour,2003-2013 4x2 XLT,2013,"48,750 km",Diesel,Manual,3rd,Delhi,"₹ 6,75,000"

In [15]:
#save the dataframe as csv for future use
df5.to_csv("Cars from Delhi.csv")

### Cars from uttar pradesh

In [16]:
#import required libraries
from selenium import webdriver
import time
import pandas as pd
from selenium.common.exceptions import NoSuchElementException

In [17]:
#connecting to the chrome driver
driver=webdriver.Chrome(r"C://Chromedriver.exe")
driver.maximize_window()

In [18]:
#url to fetch cars belonging to UP
driver.get("https://www.olx.in/uttar-pradesh_g2001176/cars_c84")
time.sleep(5)

In [19]:
# clicking load more button 
for i in range(12):
    load=driver.find_element_by_xpath("//button[@class='rui-39-wj rui-3evoE rui-1JPTg']")
    load.click()
    time.sleep(6)

In [20]:
#fetch urls of all the products first
url_list1=[]
for i in driver.find_elements_by_xpath("//div[@class='rui-jAIPe']/div/div[5]/div[2]/div/div[2]/ul/li/a"):
    url_list1.append(i.get_attribute("href"))

In [21]:
#check the urls
url_list1[0:2]

['https://www.olx.in/item/toyota-etios-liva-2008-iid-1627988487',
 'https://www.olx.in/item/company-done-service-only-good-condition-insurance-upto-date-iid-1642015389']

In [22]:
#number of urls fetched
print(len(url_list1))

500

In [23]:
#check if all the urls are fetched and no data is repeated
import numpy as np
x=np.array(url_list1)
print(len(np.unique(x)))

451

In [24]:
#drop the duplicate urls
url_list1=np.unique(url_list1)
len(url_list1)

451

In [25]:
#create empty lists
brand_list1=[]
model_list1=[]
variant_list1=[]
year_list1=[]
fuel_list1=[]
trans_list1=[]
kms_list1=[]
owners_list1=[]
price_list1=[]
location_list1=[]

In [26]:
#scrap the data
for i in url_list1:
    driver.get(i)
    time.sleep(0.10)
    
    try:
        brand_list1.append(driver.find_element_by_xpath(" //span[@data-aut-id='value_make']").text)
    except NoSuchElementException:
        brand_list1.append('-')    
        
    try:   
        model_list1.append(driver.find_element_by_xpath("//div[@class='_3JPEe']/div[2]/div/span[2]").text)
    except NoSuchElementException: 
        model_list1.append('-')
    
    try:
        variant_list1.append(driver.find_element_by_xpath("//div[@class='_3JPEe']/div[3]/div/span[2]").text)
    except NoSuchElementException: 
        variant_list1.append('-')
       
    
    try:
        year_list1.append(driver.find_element_by_xpath("//div[@class='_3JPEe']/div[4]/div/span[2]").text)
    except NoSuchElementException: 
        year_list1.append('-')
        
        
    try:
        fuel_list1.append(driver.find_element_by_xpath("//div[@class='_3JPEe']/div[5]/div/span[2]").text)
    except NoSuchElementException: 
        fuel_list1.append('-')
     
    
    try:
        trans_list1.append(driver.find_element_by_xpath("//div[@class='_3JPEe']/div[6]/div/span[2]").text)
    except NoSuchElementException: 
        trans_list1.append('-')
       
    
    try:
        kms_list1.append(driver.find_element_by_xpath("//div[@class='_3JPEe']/div[7]/div/span[2]").text)
    except NoSuchElementException: 
        kms_list1.append('-')
        
        
    try:   
        owners_list1.append(driver.find_element_by_xpath("//div[@class='_3JPEe']/div[8]/div/span[2]").text)
    except NoSuchElementException: 
        owners_list1.append('-')
        
    try:   
        price_list1.append(driver.find_element_by_xpath("//div[@class='rui-2CYS9']/section/span[1]").text)
    except NoSuchElementException: 
        price_list1.append('-')
       
    
    
    try:
        location_list1.append(driver.find_element_by_xpath("//div[@class='_2A3Wa']/span").text.split(",")[-1])        
    except NoSuchElementException: 
        location_list1.append('-')

In [27]:
#overview of collected data
print(brand_list1[0:5])
print("\n")
print(model_list1[0:5])
print("\n")
print(variant_list1[0:5])
print("\n")
print(year_list1[0:5])
print("\n")
print(fuel_list1[0:5])
print("\n")
print(trans_list1[0:5])
print("\n")
print(kms_list1[0:5])
print("\n")
print(owners_list1[0:5])
print("\n")
print(price_list1[0:5])
print("\n")
print(location_list1[0:5])

['Skoda', 'Datsun', 'Maruti Suzuki', 'Hyundai', 'Maruti Suzuki']


['Octavia Combi', 'Redi Go', 'Vitara Brezza', 'Santro', 'Gypsy']


['Combi L and K 1.9 TDI (MT)', 'Others', 'ZDi Plus', 'AT CNG', 'King HT BSIII']


['2007', '2017', '2019', '2008', '2009']


['Diesel', 'Petrol', 'Diesel', 'CNG & Hybrids', 'Diesel']


['Manual', 'Manual', 'Manual', 'Automatic', 'Manual']


['50,000 km', '19 km', '20 km', '100,000 km', '59,000 km']


['3rd', '1st', '1st', '4th', '2nd']


['₹ 2,50,000', '₹ 1,85,000', '₹ 10,90,000', '₹ 55,000', '₹ 3,00,000']


[' Uttar Pradesh', ' India', ' Uttar Pradesh', ' Uttar Pradesh', ' Uttar Pradesh']

In [28]:
#checking length of all the fetched details
print(len(brand_list1))
print(len(model_list1))
print(len(variant_list1))
print(len(year_list1))
print(len(fuel_list1))
print(len(trans_list1))
print(len(kms_list1))
print(len(owners_list1))
print(len(price_list1))
print(len(location_list1))

451
451
451
451
451
451
451
451
451
451

In [29]:
#creating dataframe
df6=pd.DataFrame({
    'Brand':brand_list1,
    'Model':model_list1,
    'Variant':variant_list1,
    'Year':year_list1,
    'Kms driven':kms_list1,
    'Fuel':fuel_list1,
    'Transmission':trans_list1,
    'Number of owners':owners_list1,
    'Location':location_list1,
    'Price':price_list1})
df6

,Brand,Model,Variant,Year,Kms driven,Fuel,Transmission,Number of owners,Location,Price
0,Skoda,Octavia Combi,Combi L and K 1.9 TDI (MT),2007,"50,000 km",Diesel,Manual,3rd,Uttar Pradesh,"₹ 2,50,000"
1,Datsun,Redi Go,Others,2017,19 km,Petrol,Manual,1st,India,"₹ 1,85,000"
2,Maruti Suzuki,Vitara Brezza,ZDi Plus,2019,20 km,Diesel,Manual,1st,Uttar Pradesh,"₹ 10,90,000"
3,Hyundai,Santro,AT CNG,2008,"100,000 km",CNG & Hybrids,Automatic,4th,Uttar Pradesh,"₹ 55,000"
4,Maruti Suzuki,Gypsy,King HT BSIII,2009,"59,000 km",Diesel,Manual,2nd,Uttar Pradesh,"₹ 3,00,000"
...,...,...,...,...,...,...,...,...,...,...
446,Maruti Suzuki,Wagon R,2010-2012 LXI CNG,2010,"70,000 km",CNG & Hybrids,Manual,3rd,Uttar Pradesh,"₹ 1,50,000"
447,Maruti Suzuki,Wagon R,VXI,2016,"42,000 km",Petrol,Manual,1st,Uttar Pradesh,"₹ 3,70,000"
448,Maruti Suzuki,Wagon R,1999-2006 VXI,2007,"64,000 km",Petrol,Manual,2nd,Uttar Pradesh,"₹ 1,50,000"
449,Nissan,Micra,2010-2012 Diesel,2011,"80,000 km",Diesel,Manual,3rd,Uttar Pradesh,"₹ 1,35,000"
450,Maruti Suzuki,Wagon R 1.0,1.0 VXi,2016,"57,320 km",LPG,Manual,2nd,Uttar Pradesh,"₹ 3,35,000"

In [30]:
#save the dataframe as csv for future use
df6.to_csv("Cars from Uttar Pradesh.csv")

### Cars from Karnataka

In [1]:
#import required libraries
from selenium import webdriver
import time
import pandas as pd
from selenium.common.exceptions import NoSuchElementException

In [2]:
#connecting to the chrome driver
driver=webdriver.Chrome(r"C://Chromedriver.exe")
driver.maximize_window()

In [3]:
#url to fetch cars belonging to Karnataka
driver.get("https://www.olx.in/karnataka_g2001159/cars_c84")
time.sleep(5)

In [4]:
# clicking load more button for 12 times
for i in range(12):
    load=driver.find_element_by_xpath("//button[@class='rui-39-wj rui-3evoE rui-1JPTg']")
    load.click()
    time.sleep(6)

In [5]:
#fetch urls of all the products first
url_list1=[]
for i in driver.find_elements_by_xpath("//div[@class='rui-jAIPe']/div/div[5]/div[2]/div/div[2]/ul/li/a"):
    url_list1.append(i.get_attribute("href"))

In [6]:
#check the urls
url_list1[0:2]

['https://www.olx.in/item/tata-tigor-12-revotron-xz-option-2018-petrol-iid-1637642842',
 'https://www.olx.in/item/maruti-suzuki-swift-2017-petrol-iid-1643516075']

In [7]:
#number of urls fetched
print(len(url_list1))

500

In [8]:
#check if all the urls are fetched and no data is repeated
import numpy as np
x=np.array(url_list1)
print(len(np.unique(x)))

500

In [9]:
#drop the duplicate urls
url_list1=np.unique(url_list1)
len(url_list1)

500

In [10]:
#create empty lists
brand_list1=[]
model_list1=[]
variant_list1=[]
year_list1=[]
fuel_list1=[]
trans_list1=[]
kms_list1=[]
owners_list1=[]
price_list1=[]
location_list1=[]

In [11]:
#visit each url in the url_list
for i in url_list1:
    driver.get(i)
    time.sleep(0.10)
    
    #brand
    try:
        brand_list1.append(driver.find_element_by_xpath(" //span[@data-aut-id='value_make']").text)
    except NoSuchElementException:
        brand_list1.append('-')    
    #model    
    try:   
        model_list1.append(driver.find_element_by_xpath("//div[@class='_3JPEe']/div[2]/div/span[2]").text)
    except NoSuchElementException: 
        model_list1.append('-')
    #variant
    try:
        variant_list1.append(driver.find_element_by_xpath("//div[@class='_3JPEe']/div[3]/div/span[2]").text)
    except NoSuchElementException: 
        variant_list1.append('-')
    #year   
    try:
        year_list1.append(driver.find_element_by_xpath("//div[@class='_3JPEe']/div[4]/div/span[2]").text)
    except NoSuchElementException: 
        year_list1.append('-')
        
    # fuel    
    try:
        fuel_list1.append(driver.find_element_by_xpath("//div[@class='_3JPEe']/div[5]/div/span[2]").text)
    except NoSuchElementException: 
        fuel_list1.append('-')
     
    #transmission type
    try:
        trans_list1.append(driver.find_element_by_xpath("//div[@class='_3JPEe']/div[6]/div/span[2]").text)
    except NoSuchElementException: 
        trans_list1.append('-')
    # kilometers driven       
    try:
        kms_list1.append(driver.find_element_by_xpath("//div[@class='_3JPEe']/div[7]/div/span[2]").text)
    except NoSuchElementException: 
        kms_list1.append('-')
    # number of owners          
    try:   
        owners_list1.append(driver.find_element_by_xpath("//div[@class='_3JPEe']/div[8]/div/span[2]").text)
    except NoSuchElementException: 
        owners_list1.append('-')
     # price   
    try:   
        price_list1.append(driver.find_element_by_xpath("//div[@class='rui-2CYS9']/section/span[1]").text)
    except NoSuchElementException: 
        price_list1.append('-')
     # location   
    try:
        location_list1.append(driver.find_element_by_xpath("//div[@class='_2A3Wa']/span").text.split(",")[-1])        
    except NoSuchElementException: 
        location_list1.append('-')

In [12]:
#get an overview of the scraped data
print(brand_list1[0:5])
print("\n")
print(model_list1[0:5])
print("\n")
print(variant_list1[0:5])
print("\n")
print(year_list1[0:5])
print("\n")
print(fuel_list1[0:5])
print("\n")
print(trans_list1[0:5])
print("\n")
print(kms_list1[0:5])
print("\n")
print(owners_list1[0:5])
print("\n")
print(price_list1[0:5])
print("\n")
print(location_list1[0:5])

['Hyundai', 'Honda', 'Mahindra', 'Maruti Suzuki', 'Toyota']


['i20', 'City ZX', 'Others', 'Alto K10', 'Etios']


['2009-2011 Magna', 'GXi', 'Others', 'VXI AMT Optional', '2013-2014 GD']


['2010', '2008', '2014', '2018', '2014']


['Petrol', 'Petrol', 'Diesel', 'Petrol', 'Diesel']


['Manual', 'Automatic', 'Manual', 'Automatic', 'Manual']


['80,000 km', '100,000 km', '25,000 km', '8,500 km', '180,000 km']


['2nd', '2nd', '1st', '1st', '2nd']


['₹ 3,10,000', '₹ 3,00,000', '₹ 1,60,000', '₹ 4,25,000', '₹ 2,10,000']


[' Karnataka', ' Karnataka', ' Karnataka', ' Karnataka', ' Karnataka']

In [13]:
#checking length of all the fetched details
print(len(brand_list1))
print(len(model_list1))
print(len(variant_list1))
print(len(year_list1))
print(len(fuel_list1))
print(len(trans_list1))
print(len(kms_list1))
print(len(owners_list1))
print(len(price_list1))
print(len(location_list1))

500
500
500
500
500
500
500
500
500
500

In [14]:
#creating dataframe
df7=pd.DataFrame({
    'Brand':brand_list1,
    'Model':model_list1,
    'Variant':variant_list1,
    'Year':year_list1,
    'Kms driven':kms_list1,
    'Fuel':fuel_list1,
    'Transmission':trans_list1,
    'Number of owners':owners_list1,
    'Location':location_list1,
    'Price':price_list1})
df7

,Brand,Model,Variant,Year,Kms driven,Fuel,Transmission,Number of owners,Location,Price
0,Hyundai,i20,2009-2011 Magna,2010,"80,000 km",Petrol,Manual,2nd,Karnataka,"₹ 3,10,000"
1,Honda,City ZX,GXi,2008,"100,000 km",Petrol,Automatic,2nd,Karnataka,"₹ 3,00,000"
2,Mahindra,Others,Others,2014,"25,000 km",Diesel,Manual,1st,Karnataka,"₹ 1,60,000"
3,Maruti Suzuki,Alto K10,VXI AMT Optional,2018,"8,500 km",Petrol,Automatic,1st,Karnataka,"₹ 4,25,000"
4,Toyota,Etios,2013-2014 GD,2014,"180,000 km",Diesel,Manual,2nd,Karnataka,"₹ 2,10,000"
...,...,...,...,...,...,...,...,...,...,...
495,Volkswagen,Polo,2015,Petrol,-,Manual,"63,962 km",-,Karnataka,"₹ 5,00,000"
496,Volkswagen,Polo,GT TSI,2020,"6,000 km",Petrol,Manual,1st,Karnataka,"₹ 8,95,000"
497,Volkswagen,Vento,1.5 TDI Comfortline,2011,"81,000 km",Diesel,Manual,2nd,Karnataka,"₹ 3,49,000"
498,Volkswagen,Vento,2014,Petrol,-,Manual,"94,692 km",-,Karnataka,"₹ 4,65,000"
499,Volvo,S80,3.2,2007,"83,000 km",Diesel,Automatic,1st,Karnataka,"₹ 8,00,000"

In [15]:
#save the dataframe as csv for future use
df7.to_csv("Cars from Karnataka.csv")

### Cars from Punjab

In [16]:
#url to fetch cars belonging to Punjab
driver.get("https://www.olx.in/punjab_g2001170/cars_c84")
time.sleep(5)

In [17]:
# clicking load more button 
for i in range(12):
    load=driver.find_element_by_xpath("//button[@class='rui-39-wj rui-3evoE rui-1JPTg']")
    load.click()
    time.sleep(6)

In [18]:
#fetch urls of all the products first
url_list1=[]
for i in driver.find_elements_by_xpath("//div[@class='rui-jAIPe']/div/div[5]/div[2]/div/div[2]/ul/li/a"):
    url_list1.append(i.get_attribute("href"))

In [19]:
#check the urls
url_list1[0:2]

['https://www.olx.in/item/mahindra-xuv300-w8-option-2020-diesel-iid-1648410643',
 'https://www.olx.in/item/maruti-suzuki-baleno-12-alpha-2018-diesel-iid-1645311759']

In [20]:
#number of urls fetched
print(len(url_list1))

500

In [21]:
#check if all the urls are fetched and no data is repeated
import numpy as np
x=np.array(url_list1)
print(len(np.unique(x)))

469

In [22]:
#drop the duplicate urls
url_list1=np.unique(url_list1)
len(url_list1)

469

In [23]:
#create empty lists
brand_list1=[]
model_list1=[]
variant_list1=[]
year_list1=[]
fuel_list1=[]
trans_list1=[]
kms_list1=[]
owners_list1=[]
price_list1=[]
location_list1=[]

In [24]:
#visit each url and scrap the data
for i in url_list1:
    driver.get(i)
    time.sleep(0.10)
    
    #brand
    try:
        brand_list1.append(driver.find_element_by_xpath(" //span[@data-aut-id='value_make']").text)
    except NoSuchElementException:
        brand_list1.append('-')    
    #model    
    try:   
        model_list1.append(driver.find_element_by_xpath("//div[@class='_3JPEe']/div[2]/div/span[2]").text)
    except NoSuchElementException: 
        model_list1.append('-')
    #variant
    try:
        variant_list1.append(driver.find_element_by_xpath("//div[@class='_3JPEe']/div[3]/div/span[2]").text)
    except NoSuchElementException: 
        variant_list1.append('-')
       
    #year
    try:
        year_list1.append(driver.find_element_by_xpath("//div[@class='_3JPEe']/div[4]/div/span[2]").text)
    except NoSuchElementException: 
        year_list1.append('-')
        
    #fuel type    
    try:
        fuel_list1.append(driver.find_element_by_xpath("//div[@class='_3JPEe']/div[5]/div/span[2]").text)
    except NoSuchElementException: 
        fuel_list1.append('-')
     
    #transmission type
    try:
        trans_list1.append(driver.find_element_by_xpath("//div[@class='_3JPEe']/div[6]/div/span[2]").text)
    except NoSuchElementException: 
        trans_list1.append('-')
       
    # kilometers
    try:
        kms_list1.append(driver.find_element_by_xpath("//div[@class='_3JPEe']/div[7]/div/span[2]").text)
    except NoSuchElementException: 
        kms_list1.append('-')
        
    #Number of owners    
    try:   
        owners_list1.append(driver.find_element_by_xpath("//div[@class='_3JPEe']/div[8]/div/span[2]").text)
    except NoSuchElementException: 
        owners_list1.append('-')
    # price    
    try:   
        price_list1.append(driver.find_element_by_xpath("//div[@class='rui-2CYS9']/section/span[1]").text)
    except NoSuchElementException: 
        price_list1.append('-')
    #location
    try:
        location_list1.append(driver.find_element_by_xpath("//div[@class='_2A3Wa']/span").text.split(",")[-1])        
    except NoSuchElementException: 
        location_list1.append('-')

In [25]:
#overview of the fetched details 
print(brand_list1[0:5])
print("\n")
print(model_list1[0:5])
print("\n")
print(variant_list1[0:5])
print("\n")
print(year_list1[0:5])
print("\n")
print(fuel_list1[0:5])
print("\n")
print(trans_list1[0:5])
print("\n")
print(kms_list1[0:5])
print("\n")
print(owners_list1[0:5])
print("\n")
print(price_list1[0:5])
print("\n")
print(location_list1[0:5])

['Hyundai', 'Maruti Suzuki', 'Maruti Suzuki', 'Chevrolet', 'Chevrolet']


['Venue', 'Zen', 'Swift', 'Beat', 'Beat']


['SX Diesel', 'LX', 'VDI', '2010-2013 Diesel', '2012']


['2019', '2003', '2008', '2011', 'Diesel']


['Diesel', 'Petrol', 'Diesel', 'Diesel', 'Manual']


['Manual', 'Manual', 'Manual', 'Manual', '99,000 km']


['40,142 km', '20,000 km', '100,000 km', '90,000 km', '2nd']


['1st', '1st', '2nd', '2nd', '-']


['₹ 8,30,000', '₹ 1,05,000', '₹ 1,30,000', '₹ 1,49,000', '₹ 1,70,000']


[' Punjab', ' Punjab', ' Punjab', ' Punjab', ' Punjab']

In [26]:
#checking length of all the fetched details
print(len(brand_list1))
print(len(model_list1))
print(len(variant_list1))
print(len(year_list1))
print(len(fuel_list1))
print(len(trans_list1))
print(len(kms_list1))
print(len(owners_list1))
print(len(price_list1))
print(len(location_list1))

469
469
469
469
469
469
469
469
469
469

In [27]:
#creating dataframe of the collected data
df8=pd.DataFrame({
    'Brand':brand_list1,
    'Model':model_list1,
    'Variant':variant_list1,
    'Year':year_list1,
    'Kms driven':kms_list1,
    'Fuel':fuel_list1,
    'Transmission':trans_list1,
    'Number of owners':owners_list1,
    'Location':location_list1,
    'Price':price_list1})
df8

,Brand,Model,Variant,Year,Kms driven,Fuel,Transmission,Number of owners,Location,Price
0,Hyundai,Venue,SX Diesel,2019,"40,142 km",Diesel,Manual,1st,Punjab,"₹ 8,30,000"
1,Maruti Suzuki,Zen,LX,2003,"20,000 km",Petrol,Manual,1st,Punjab,"₹ 1,05,000"
2,Maruti Suzuki,Swift,VDI,2008,"100,000 km",Diesel,Manual,2nd,Punjab,"₹ 1,30,000"
3,Chevrolet,Beat,2010-2013 Diesel,2011,"90,000 km",Diesel,Manual,2nd,Punjab,"₹ 1,49,000"
4,Chevrolet,Beat,2012,Diesel,2nd,Manual,"99,000 km",-,Punjab,"₹ 1,70,000"
...,...,...,...,...,...,...,...,...,...,...
464,Volkswagen,Polo,1.5 TDI Highline,2016,"90,000 km",Diesel,Manual,1st,Punjab,"₹ 5,25,000"
465,Volkswagen,Polo,1.5 TDI Trendline,2011,"130,000 km",Diesel,Manual,3rd,Punjab,"₹ 2,00,000"
466,Volkswagen,Polo,2009-2013 Diesel Trendline 1.2L,2011,"128,000 km",Diesel,Manual,1st,Punjab,"₹ 3,00,000"
467,Volkswagen,Vento,2010-2013 Diesel Breeze,2010,"94,000 km",Diesel,Manual,2nd,Punjab,"₹ 2,25,000"
468,Maruti Suzuki,Wagon R 1.0,1.0 LXi,2007,"95,000 km",Petrol,Manual,1st,Punjab,"₹ 1,25,000"

In [28]:
#save the dataframe as csv for future use
df8.to_csv("Cars from Punjab .csv")

### Cars from telangana

In [ ]:
#connecting to the chrome driver
driver=webdriver.Chrome(r"C://Chromedriver.exe")
driver.maximize_window()

In [30]:
#url to fetch cars belonging to telangana
driver.get("https://www.olx.in/telangana_g2007599/cars_c84")
time.sleep(5)

In [31]:
# clicking load more button
for i in range(12):
    load=driver.find_element_by_xpath("//button[@class='rui-39-wj rui-3evoE rui-1JPTg']")
    load.click()
    time.sleep(6)

In [32]:
#fetch urls of all the products first
url_list1=[]
for i in driver.find_elements_by_xpath("//div[@class='rui-jAIPe']/div/div[5]/div[2]/div/div[2]/ul/li/a"):
    url_list1.append(i.get_attribute("href"))

In [33]:
#check the urls
url_list1[0:2]

['https://www.olx.in/item/ford-ecosport-15-petrol-titanium-2014-petrol-iid-1647954328',
 'https://www.olx.in/item/maruti-suzuki-ciaz-2014-2017-vxi-option-2017-petrol-iid-1648340024']

In [34]:
#number of urls fetched
print(len(url_list1))

500

In [35]:
#check if all the urls are fetched and no data is repeated
import numpy as np
x=np.array(url_list1)
print(len(np.unique(x)))

500

In [36]:
#drop the duplicate urls
url_list1=np.unique(url_list1)
len(url_list1)

500

In [37]:
#create empty lists
brand_list1=[]
model_list1=[]
variant_list1=[]
year_list1=[]
fuel_list1=[]
trans_list1=[]
kms_list1=[]
owners_list1=[]
price_list1=[]
location_list1=[]

In [38]:
#data collection
for i in url_list1:
    driver.get(i)
    time.sleep(0.10)
    
    #brand
    try:
        brand_list1.append(driver.find_element_by_xpath(" //span[@data-aut-id='value_make']").text)
    except NoSuchElementException:
        brand_list1.append('-')    
    #model    
    try:   
        model_list1.append(driver.find_element_by_xpath("//div[@class='_3JPEe']/div[2]/div/span[2]").text)
    except NoSuchElementException: 
        model_list1.append('-')
    #variant
    try:
        variant_list1.append(driver.find_element_by_xpath("//div[@class='_3JPEe']/div[3]/div/span[2]").text)
    except NoSuchElementException: 
        variant_list1.append('-')
       
    #year
    try:
        year_list1.append(driver.find_element_by_xpath("//div[@class='_3JPEe']/div[4]/div/span[2]").text)
    except NoSuchElementException: 
        year_list1.append('-')
        
    #fuel type    
    try:
        fuel_list1.append(driver.find_element_by_xpath("//div[@class='_3JPEe']/div[5]/div/span[2]").text)
    except NoSuchElementException: 
        fuel_list1.append('-')
     
    #transmission type
    try:
        trans_list1.append(driver.find_element_by_xpath("//div[@class='_3JPEe']/div[6]/div/span[2]").text)
    except NoSuchElementException: 
        trans_list1.append('-')
       
    # kilometers
    try:
        kms_list1.append(driver.find_element_by_xpath("//div[@class='_3JPEe']/div[7]/div/span[2]").text)
    except NoSuchElementException: 
        kms_list1.append('-')
        
    #Number of owners    
    try:   
        owners_list1.append(driver.find_element_by_xpath("//div[@class='_3JPEe']/div[8]/div/span[2]").text)
    except NoSuchElementException: 
        owners_list1.append('-')
    # price    
    try:   
        price_list1.append(driver.find_element_by_xpath("//div[@class='rui-2CYS9']/section/span[1]").text)
    except NoSuchElementException: 
        price_list1.append('-')
    #location
    try:
        location_list1.append(driver.find_element_by_xpath("//div[@class='_2A3Wa']/span").text.split(",")[-1])        
    except NoSuchElementException: 
        location_list1.append('-')

In [39]:
#overview of the fetched details 
print(brand_list1[0:5])
print("\n")
print(model_list1[0:5])
print("\n")
print(variant_list1[0:5])
print("\n")
print(year_list1[0:5])
print("\n")
print(fuel_list1[0:5])
print("\n")
print(trans_list1[0:5])
print("\n")
print(kms_list1[0:5])
print("\n")
print(owners_list1[0:5])
print("\n")
print(price_list1[0:5])
print("\n")
print(location_list1[0:5])

['Toyota', 'Maruti Suzuki', 'Ashok Leyland', 'Ashok Leyland', 'Audi']


['Innova Crysta', 'Alto', 'Others', 'Stile', 'A4']


['2.4 G MT', 'Others', 'Others', 'LS', '2.0 TDI']


['2019', '2009', '2012', '2016', '2009']


['Diesel', 'Petrol', 'Diesel', 'Diesel', 'Diesel']


['Manual', 'Manual', 'Manual', 'Automatic', 'Manual']


['91,000 km', '80,000 km', '390,000 km', '180,000 km', '109,957 km']


['1st', '1st', '1st', '1st', '1st']


['₹ 15,00,000', '₹ 1,90,000', '₹ 3,20,000', '₹ 4,55,000', '₹ 8,30,000']


[' Telangana', ' Telangana', ' Telangana', ' Telangana', ' Telangana']

In [40]:
#checking length of all the fetched details
print(len(brand_list1))
print(len(model_list1))
print(len(variant_list1))
print(len(year_list1))
print(len(fuel_list1))
print(len(trans_list1))
print(len(kms_list1))
print(len(owners_list1))
print(len(price_list1))
print(len(location_list1))

500
500
500
500
500
500
500
500
500
500

In [41]:
#creating dataframe of the collected data
df9=pd.DataFrame({
    'Brand':brand_list1,
    'Model':model_list1,
    'Variant':variant_list1,
    'Year':year_list1,
    'Kms driven':kms_list1,
    'Fuel':fuel_list1,
    'Transmission':trans_list1,
    'Number of owners':owners_list1,
    'Location':location_list1,
    'Price':price_list1})
df9

,Brand,Model,Variant,Year,Kms driven,Fuel,Transmission,Number of owners,Location,Price
0,Toyota,Innova Crysta,2.4 G MT,2019,"91,000 km",Diesel,Manual,1st,Telangana,"₹ 15,00,000"
1,Maruti Suzuki,Alto,Others,2009,"80,000 km",Petrol,Manual,1st,Telangana,"₹ 1,90,000"
2,Ashok Leyland,Others,Others,2012,"390,000 km",Diesel,Manual,1st,Telangana,"₹ 3,20,000"
3,Ashok Leyland,Stile,LS,2016,"180,000 km",Diesel,Automatic,1st,Telangana,"₹ 4,55,000"
4,Audi,A4,2.0 TDI,2009,"109,957 km",Diesel,Manual,1st,Telangana,"₹ 8,30,000"
...,...,...,...,...,...,...,...,...,...,...
495,Volvo,V40,D3,2014,"54,670 km",Diesel,Automatic,1st,Telangana,"₹ 14,25,000"
496,Maruti Suzuki,Alto,2005-2010 LXi BSIII,2005,"65,652 km",Petrol,Manual,1st,Telangana,"₹ 1,30,000"
497,Maruti Suzuki,Swift,VDI BS IV,2016,"62,000 km",Diesel,Manual,1st,Telangana,"₹ 5,20,000"
498,Mahindra,XUV500,W4,2014,"130,000 km",Diesel,Manual,2nd,Telangana,"₹ 6,80,000"
499,Maruti Suzuki,Zen Estilo,Zen Estilo LXI,2007,"105,000 km",Petrol,Manual,1st,Telangana,"₹ 1,40,000"

In [42]:
#save the dataframe as csv for future use
df9.to_csv("Cars from Telangana.csv")

### Cars from Harayana

In [1]:
#import required libraries
from selenium import webdriver
import time
import pandas as pd
from selenium.common.exceptions import NoSuchElementException

In [2]:
#connecting to the chrome driver
driver=webdriver.Chrome(r"C://Chromedriver.exe")
driver.maximize_window()

In [3]:
#url to fetch cars belonging to Haryana
driver.get("https://www.olx.in/haryana_g2001155/cars_c84")
time.sleep(5)

In [4]:
# clicking load more button 
for i in range(12):
    load=driver.find_element_by_xpath("//button[@class='rui-39-wj rui-3evoE rui-1JPTg']")
    load.click()
    time.sleep(6)

In [5]:
#fetch urls of all the products first
url_list1=[]
for i in driver.find_elements_by_xpath("//div[@class='rui-jAIPe']/div/div[5]/div[2]/div/div[2]/ul/li/a"):
    url_list1.append(i.get_attribute("href"))

In [6]:
#check the urls
url_list1[0:2]

['https://www.olx.in/item/maruti-suzuki-vitara-brezza-zdi-plus-dual-tone-2016-diesel-iid-1646329911',
 'https://www.olx.in/item/audi-q3-35-tdi-premium-sunroof-2015-diesel-iid-1642045863']

In [7]:
#number of urls fetched
print(len(url_list1))

500

In [8]:
#check if all the urls are fetched and no data is repeated
import numpy as np
x=np.array(url_list1)
print(len(np.unique(x)))

483

In [9]:
#drop the duplicate urls
url_list1=np.unique(url_list1)
len(url_list1)

483

In [10]:
#create empty lists
brand_list1=[]
model_list1=[]
variant_list1=[]
year_list1=[]
fuel_list1=[]
trans_list1=[]
kms_list1=[]
owners_list1=[]
price_list1=[]
location_list1=[]

In [11]:
for i in url_list1:
    driver.get(i)
    time.sleep(0.10)
    
    try:
        brand_list1.append(driver.find_element_by_xpath(" //span[@data-aut-id='value_make']").text)
    except NoSuchElementException:
        brand_list1.append('-')    
        
    try:   
        model_list1.append(driver.find_element_by_xpath("//div[@class='_3JPEe']/div[2]/div/span[2]").text)
    except NoSuchElementException: 
        model_list1.append('-')
    
    try:
        variant_list1.append(driver.find_element_by_xpath("//div[@class='_3JPEe']/div[3]/div/span[2]").text)
    except NoSuchElementException: 
        variant_list1.append('-')
       
    
    try:
        year_list1.append(driver.find_element_by_xpath("//div[@class='_3JPEe']/div[4]/div/span[2]").text)
    except NoSuchElementException: 
        year_list1.append('-')
        
        
    try:
        fuel_list1.append(driver.find_element_by_xpath("//div[@class='_3JPEe']/div[5]/div/span[2]").text)
    except NoSuchElementException: 
        fuel_list1.append('-')
     
    
    try:
        trans_list1.append(driver.find_element_by_xpath("//div[@class='_3JPEe']/div[6]/div/span[2]").text)
    except NoSuchElementException: 
        trans_list1.append('-')
       
    
    try:
        kms_list1.append(driver.find_element_by_xpath("//div[@class='_3JPEe']/div[7]/div/span[2]").text)
    except NoSuchElementException: 
        kms_list1.append('-')
        
        
    try:   
        owners_list1.append(driver.find_element_by_xpath("//div[@class='_3JPEe']/div[8]/div/span[2]").text)
    except NoSuchElementException: 
        owners_list1.append('-')
        
    try:   
        price_list1.append(driver.find_element_by_xpath("//div[@class='rui-2CYS9']/section/span[1]").text)
    except NoSuchElementException: 
        price_list1.append('-')
       
    
    
    try:
        location_list1.append(driver.find_element_by_xpath("//div[@class='_2A3Wa']/span").text.split(",")[-1])        
    except NoSuchElementException: 
        location_list1.append('-')

In [12]:
#overview of the data collected
print(brand_list1[0:5])
print("\n")
print(model_list1[0:5])
print("\n")
print(variant_list1[0:5])
print("\n")
print(year_list1[0:5])
print("\n")
print(fuel_list1[0:5])
print("\n")
print(trans_list1[0:5])
print("\n")
print(kms_list1[0:5])
print("\n")
print(owners_list1[0:5])
print("\n")
print(price_list1[0:5])
print("\n")
print(location_list1[0:5])

['Toyota', 'Other Brands', 'Chevrolet', 'Maruti Suzuki', 'Tata']


['Innova', 'Others', 'Beat', 'Eeco', 'Others']


['2.5 G (Diesel) 8 - Seater', '2019', '2014-2016 Diesel PS', 'CNG 5 Seater AC', 'Others']


['2012', 'Diesel', '2014', '2012', '2013']


['Diesel', 'Automatic', 'Diesel', 'CNG & Hybrids', 'Diesel']


['Manual', '8 km', 'Automatic', 'Manual', 'Automatic']


['240,354 km', '2nd', '76,000 km', '23 km', '15,000 km']


['3rd', '-', '1st', '1st', '4th']


['₹ 4,00,000', '₹ 14,75,000', '₹ 1,50,000', '₹ 1,85,000', '₹ 2,00,000']


[' Haryana', ' Haryana', ' India', ' Haryana', ' Haryana']

In [13]:
#check if all the lengths are same
print(len(brand_list1))
print(len(model_list1))
print(len(variant_list1))
print(len(year_list1))
print(len(fuel_list1))
print(len(trans_list1))
print(len(kms_list1))
print(len(owners_list1))
print(len(price_list1))
print(len(location_list1))

483
483
483
483
483
483
483
483
483
483

In [14]:
#creating dataframe
df10=pd.DataFrame({
    'Brand':brand_list1,
    'Model':model_list1,
    'Variant':variant_list1,
    'Year':year_list1,
    'Kms driven':kms_list1,
    'Fuel':fuel_list1,
    'Transmission':trans_list1,
    'Number of owners':owners_list1,
    'Location':location_list1,
    'Price':price_list1})
df10

,Brand,Model,Variant,Year,Kms driven,Fuel,Transmission,Number of owners,Location,Price
0,Toyota,Innova,2.5 G (Diesel) 8 - Seater,2012,"240,354 km",Diesel,Manual,3rd,Haryana,"₹ 4,00,000"
1,Other Brands,Others,2019,Diesel,2nd,Automatic,8 km,-,Haryana,"₹ 14,75,000"
2,Chevrolet,Beat,2014-2016 Diesel PS,2014,"76,000 km",Diesel,Automatic,1st,India,"₹ 1,50,000"
3,Maruti Suzuki,Eeco,CNG 5 Seater AC,2012,23 km,CNG & Hybrids,Manual,1st,Haryana,"₹ 1,85,000"
4,Tata,Others,Others,2013,"15,000 km",Diesel,Automatic,4th,Haryana,"₹ 2,00,000"
...,...,...,...,...,...,...,...,...,...,...
478,Honda,City,2011-2013 E,2011,"48,250 km",Petrol,Manual,1st,Haryana,"₹ 2,70,000"
479,Maruti Suzuki,Ciaz,2014-2017 VDi Plus,2015,"83,000 km",Diesel,Manual,2nd,Haryana,"₹ 5,25,000"
480,Honda,Accord,2.0 AT,2005,100 km,Diesel,Manual,2nd,Haryana,"₹ 15,000"
481,Hyundai,Santro Xing,XL,2009,"69,000 km",Petrol,Manual,3rd,Haryana,"₹ 1,25,000"
482,Maruti Suzuki,Swift Dzire,ZDI,2017,"68,000 km",Diesel,Automatic,1st,Haryana,"₹ 6,00,000"

In [15]:
#save the dataframe as csv for future use
df10.to_csv("Cars from Haryana.csv")

### Cars from Rajasthan

In [19]:
#url to fetch cars belonging to rajasthan
driver.get("https://www.olx.in/rajasthan_g2001171/cars_c84")
time.sleep(5)

In [21]:
# clicking load more button 
for i in range(10):
    load=driver.find_element_by_xpath("//button[@class='rui-39-wj rui-3evoE rui-1JPTg']")
    load.click()
    time.sleep(6)

In [22]:
#fetch urls of all the products first
url_list1=[]
for i in driver.find_elements_by_xpath("//div[@class='rui-jAIPe']/div/div[5]/div[2]/div/div[2]/ul/li/a"):
    url_list1.append(i.get_attribute("href"))

In [23]:
#check the urls
url_list1[0:2]

['https://www.olx.in/item/mercedes-benz-m-class-ml-320-cdi-2009-diesel-iid-1648648979',
 'https://www.olx.in/item/maruti-suzuki-swift-dzire-vdi-2014-diesel-iid-1644557144']

In [24]:
#number of urls fetched
print(len(url_list1))

500

In [25]:
#check if all the urls are fetched and no data is repeated
import numpy as np
x=np.array(url_list1)
print(len(np.unique(x)))

492

In [26]:
#drop the duplicate urls
url_list1=np.unique(url_list1)
len(url_list1)

492

In [27]:
#create empty lists
brand_list1=[]
model_list1=[]
variant_list1=[]
year_list1=[]
fuel_list1=[]
trans_list1=[]
kms_list1=[]
owners_list1=[]
price_list1=[]
location_list1=[]

In [28]:
#visit each url and capture the data
for i in url_list1:
    driver.get(i)
    time.sleep(0.10)
    
    try:
        brand_list1.append(driver.find_element_by_xpath(" //span[@data-aut-id='value_make']").text)
    except NoSuchElementException:
        brand_list1.append('-')    
        
    try:   
        model_list1.append(driver.find_element_by_xpath("//div[@class='_3JPEe']/div[2]/div/span[2]").text)
    except NoSuchElementException: 
        model_list1.append('-')
    
    try:
        variant_list1.append(driver.find_element_by_xpath("//div[@class='_3JPEe']/div[3]/div/span[2]").text)
    except NoSuchElementException: 
        variant_list1.append('-')
       
    
    try:
        year_list1.append(driver.find_element_by_xpath("//div[@class='_3JPEe']/div[4]/div/span[2]").text)
    except NoSuchElementException: 
        year_list1.append('-')
        
        
    try:
        fuel_list1.append(driver.find_element_by_xpath("//div[@class='_3JPEe']/div[5]/div/span[2]").text)
    except NoSuchElementException: 
        fuel_list1.append('-')
     
    
    try:
        trans_list1.append(driver.find_element_by_xpath("//div[@class='_3JPEe']/div[6]/div/span[2]").text)
    except NoSuchElementException: 
        trans_list1.append('-')
       
    
    try:
        kms_list1.append(driver.find_element_by_xpath("//div[@class='_3JPEe']/div[7]/div/span[2]").text)
    except NoSuchElementException: 
        kms_list1.append('-')
        
        
    try:   
        owners_list1.append(driver.find_element_by_xpath("//div[@class='_3JPEe']/div[8]/div/span[2]").text)
    except NoSuchElementException: 
        owners_list1.append('-')
        
    try:   
        price_list1.append(driver.find_element_by_xpath("//div[@class='rui-2CYS9']/section/span[1]").text)
    except NoSuchElementException: 
        price_list1.append('-')
       
    
    
    try:
        location_list1.append(driver.find_element_by_xpath("//div[@class='_2A3Wa']/span").text.split(",")[-1])        
    except NoSuchElementException: 
        location_list1.append('-')

In [29]:
#view the data collected
print(brand_list1[0:5])
print("\n")
print(model_list1[0:5])
print("\n")
print(variant_list1[0:5])
print("\n")
print(year_list1[0:5])
print("\n")
print(fuel_list1[0:5])
print("\n")
print(trans_list1[0:5])
print("\n")
print(kms_list1[0:5])
print("\n")
print(owners_list1[0:5])
print("\n")
print(price_list1[0:5])
print("\n")
print(location_list1[0:5])

['Chevrolet', 'Maruti Suzuki', 'Mahindra', 'Maruti Suzuki', 'Mahindra']


['Tavera', 'Alto', 'Bolero Pik-Up', 'Alto K10', 'Bolero']


['2003-2007 B1-10 seats BSIII', '2000-2005 LX', 'Others', 'LXI CNG', '2001-2010 DI BSIII']


['2007', '2010', '2014', '2012', '2004']


['Diesel', 'Petrol', 'Diesel', 'Petrol', 'Diesel']


['Automatic', 'Automatic', 'Manual', 'Manual', 'Manual']


['15 km', '65,000 km', '16 km', '20 km', '20 km']


['4+', '4th', '2nd', '3rd', '4+']


['₹ 1,60,000', '₹ 1,25,000', '₹ 4,70,000', '₹ 1,80,000', '₹ 2,40,000']


[' Rajasthan', ' Rajasthan', ' Rajasthan', ' Rajasthan', ' Rajasthan']

In [30]:
#check the length of collected data lists
print(len(brand_list1))
print(len(model_list1))
print(len(variant_list1))
print(len(year_list1))
print(len(fuel_list1))
print(len(trans_list1))
print(len(kms_list1))
print(len(owners_list1))
print(len(price_list1))
print(len(location_list1))

492
492
492
492
492
492
492
492
492
492

In [31]:
#creating dataframe
df11=pd.DataFrame({
    'Brand':brand_list1,
    'Model':model_list1,
    'Variant':variant_list1,
    'Year':year_list1,
    'Kms driven':kms_list1,
    'Fuel':fuel_list1,
    'Transmission':trans_list1,
    'Number of owners':owners_list1,
    'Location':location_list1,
    'Price':price_list1})
df11

,Brand,Model,Variant,Year,Kms driven,Fuel,Transmission,Number of owners,Location,Price
0,Chevrolet,Tavera,2003-2007 B1-10 seats BSIII,2007,15 km,Diesel,Automatic,4+,Rajasthan,"₹ 1,60,000"
1,Maruti Suzuki,Alto,2000-2005 LX,2010,"65,000 km",Petrol,Automatic,4th,Rajasthan,"₹ 1,25,000"
2,Mahindra,Bolero Pik-Up,Others,2014,16 km,Diesel,Manual,2nd,Rajasthan,"₹ 4,70,000"
3,Maruti Suzuki,Alto K10,LXI CNG,2012,20 km,Petrol,Manual,3rd,Rajasthan,"₹ 1,80,000"
4,Mahindra,Bolero,2001-2010 DI BSIII,2004,20 km,Diesel,Manual,4+,Rajasthan,"₹ 2,40,000"
...,...,...,...,...,...,...,...,...,...,...
487,Toyota,Qualis,Others,2003,12 km,Diesel,Manual,3rd,Rajasthan,"₹ 1,51,000"
488,Renault,Pulse,RxL Diesel,2017,26 km,Diesel,Manual,1st,Rajasthan,"₹ 3,50,000"
489,Hyundai,i10,Sportz 1.2 Kappa2,2014,"48,000 km",Diesel,Manual,2nd,Rajasthan,"₹ 4,17,000"
490,Toyota,Innova,2012-2013 2.5 G (Diesel) 8 Seater BS IV,2012,"211,000 km",Diesel,Manual,3rd,India,"₹ 7,30,000"
491,Other Brands,Others,1992,Diesel,2nd,Manual,"70,000 km",-,Rajasthan,"₹ 2,50,000"

In [32]:
#save the dataframe as csv for future use
df11.to_csv("Cars from Rajasthan.csv")

### Cars from assam

In [1]:
#import required libraries
from selenium import webdriver
import time
import pandas as pd
from selenium.common.exceptions import NoSuchElementException

In [2]:
#connecting to the chrome driver
driver=webdriver.Chrome(r"C://Chromedriver.exe")
driver.maximize_window()

In [3]:
#url to fetch cars 
driver.get("https://www.olx.in/assam_g2001147/cars_c84")
time.sleep(5)

In [5]:
# clicking load more button 
for i in range(8):
    load=driver.find_element_by_xpath("//button[@class='rui-39-wj rui-3evoE rui-1JPTg']")
    load.click()
    time.sleep(8)

In [6]:
#fetch urls of all the products first
url_list1=[]
for i in driver.find_elements_by_xpath("//div[@class='rui-jAIPe']/div/div[5]/div[2]/div/div[2]/ul/li/a"):
    url_list1.append(i.get_attribute("href"))

In [7]:
#check the urls
url_list1[0:2]

['https://www.olx.in/item/maruti-suzuki-swift-vvt-vxi-2014-petrol-iid-1629471645',
 'https://www.olx.in/item/maruti-suzuki-alto-800-lxi-2013-petrol-iid-1646802815']

In [8]:
#number of urls fetched
print(len(url_list1))

360

In [9]:
#check if all the urls are fetched and no data is repeated
import numpy as np
x=np.array(url_list1)
print(len(np.unique(x)))

360

In [10]:
#drop the duplicate urls
url_list1=np.unique(url_list1)
len(url_list1)

360

In [11]:
#create empty lists
brand_list1=[]
model_list1=[]
variant_list1=[]
year_list1=[]
fuel_list1=[]
trans_list1=[]
kms_list1=[]
owners_list1=[]
price_list1=[]
location_list1=[]

In [12]:
#web scraping the details of each car
for i in url_list1:
    driver.get(i)
    time.sleep(0.10)
    
    try:
        brand_list1.append(driver.find_element_by_xpath(" //span[@data-aut-id='value_make']").text)
    except NoSuchElementException:
        brand_list1.append('-')    
        
    try:   
        model_list1.append(driver.find_element_by_xpath("//div[@class='_3JPEe']/div[2]/div/span[2]").text)
    except NoSuchElementException: 
        model_list1.append('-')
    
    try:
        variant_list1.append(driver.find_element_by_xpath("//div[@class='_3JPEe']/div[3]/div/span[2]").text)
    except NoSuchElementException: 
        variant_list1.append('-')
       
    
    try:
        year_list1.append(driver.find_element_by_xpath("//div[@class='_3JPEe']/div[4]/div/span[2]").text)
    except NoSuchElementException: 
        year_list1.append('-')
        
        
    try:
        fuel_list1.append(driver.find_element_by_xpath("//div[@class='_3JPEe']/div[5]/div/span[2]").text)
    except NoSuchElementException: 
        fuel_list1.append('-')
     
    
    try:
        trans_list1.append(driver.find_element_by_xpath("//div[@class='_3JPEe']/div[6]/div/span[2]").text)
    except NoSuchElementException: 
        trans_list1.append('-')
       
    
    try:
        kms_list1.append(driver.find_element_by_xpath("//div[@class='_3JPEe']/div[7]/div/span[2]").text)
    except NoSuchElementException: 
        kms_list1.append('-')
        
        
    try:   
        owners_list1.append(driver.find_element_by_xpath("//div[@class='_3JPEe']/div[8]/div/span[2]").text)
    except NoSuchElementException: 
        owners_list1.append('-')
        
    try:   
        price_list1.append(driver.find_element_by_xpath("//div[@class='rui-2CYS9']/section/span[1]").text)
    except NoSuchElementException: 
        price_list1.append('-')
       
    
    
    try:
        location_list1.append(driver.find_element_by_xpath("//div[@class='_2A3Wa']/span").text.split(",")[-1])        
    except NoSuchElementException: 
        location_list1.append('-')

In [13]:
#view the data collected
print(brand_list1[0:5])
print("\n")
print(model_list1[0:5])
print("\n")
print(variant_list1[0:5])
print("\n")
print(year_list1[0:5])
print("\n")
print(fuel_list1[0:5])
print("\n")
print(trans_list1[0:5])
print("\n")
print(kms_list1[0:5])
print("\n")
print(owners_list1[0:5])
print("\n")
print(price_list1[0:5])
print("\n")
print(location_list1[0:5])

['Tata', 'Other Brands', 'Maruti Suzuki', 'Renault', 'Hyundai']


['Others', 'Others', 'Others', 'Duster', 'Santro Xing']


['Others', '2021', 'Others', '2012-2015 110PS Diesel RxZ', 'AE GLS Audio']


['2014', 'Electric', '2014', '2015', '2005']


['Diesel', 'Automatic', 'Petrol', 'Diesel', 'Petrol']


['Manual', '0 km', 'Automatic', 'Automatic', 'Automatic']


['85,000 km', '1st', '64,000 km', '70,000 km', '69,000 km']


['2nd', '-', '1st', '1st', '2nd']


['₹ 5,95,999', '₹ 50,000', '₹ 2,20,000', '₹ 5,50,000', '₹ 90,000']


[' Assam', ' Assam', ' Assam', ' Assam', ' Assam']

In [14]:
#checking length of all the fetched details
print(len(brand_list1))
print(len(model_list1))
print(len(variant_list1))
print(len(year_list1))
print(len(fuel_list1))
print(len(trans_list1))
print(len(kms_list1))
print(len(owners_list1))
print(len(price_list1))
print(len(location_list1))

424
424
424
424
424
424
424
424
424
424

In [15]:
#creating dataframe
df12=pd.DataFrame({
    'Brand':brand_list1,
    'Model':model_list1,
    'Variant':variant_list1,
    'Year':year_list1,
    'Kms driven':kms_list1,
    'Fuel':fuel_list1,
    'Transmission':trans_list1,
    'Number of owners':owners_list1,
    'Location':location_list1,
    'Price':price_list1})
df12

,Brand,Model,Variant,Year,Kms driven,Fuel,Transmission,Number of owners,Location,Price
0,Tata,Others,Others,2014,"85,000 km",Diesel,Manual,2nd,Assam,"₹ 5,95,999"
1,Other Brands,Others,2021,Electric,1st,Automatic,0 km,-,Assam,"₹ 50,000"
2,Maruti Suzuki,Others,Others,2014,"64,000 km",Petrol,Automatic,1st,Assam,"₹ 2,20,000"
3,Renault,Duster,2012-2015 110PS Diesel RxZ,2015,"70,000 km",Diesel,Automatic,1st,Assam,"₹ 5,50,000"
4,Hyundai,Santro Xing,AE GLS Audio,2005,"69,000 km",Petrol,Automatic,2nd,Assam,"₹ 90,000"
...,...,...,...,...,...,...,...,...,...,...
419,Toyota,Innova,2.5 G (Diesel) 8 - Seater,2008,"320,000 km",Diesel,Manual,2nd,Assam,"₹ 3,95,000"
420,Maruti Suzuki,Swift,ZDi,2012,"59,123 km",Petrol,Manual,1st,Assam,"₹ 2,75,000"
421,Volkswagen,Polo,1.0 MPI Highline,2011,"60,000 km",Petrol,Manual,1st,Assam,"₹ 2,45,000"
422,Volkswagen,Polo,1.2 MPI Anniversary Edition,2016,"53,000 km",Petrol,Manual,1st,Assam,"₹ 4,40,000"
423,Volkswagen,Polo,GT TSI,2013,"47,506 km",Petrol,Automatic,2nd,Assam,"₹ 5,54,999"

In [16]:
#save the dataframe as csv for future use
df12.to_csv("Cars from Assam.csv")

### Cars from West Bengal

In [1]:
#import required libraries
from selenium import webdriver
import time
import pandas as pd
from selenium.common.exceptions import NoSuchElementException

In [2]:
#connecting to the chrome driver
driver=webdriver.Chrome(r"C://Chromedriver.exe")
driver.maximize_window()

In [3]:
#pass url to fetch the data
driver.get("https://www.olx.in/west-bengal_g2001177/cars_c84")
time.sleep(5)

In [4]:
# clicking load more button 
for i in range(8):
    load=driver.find_element_by_xpath("//button[@class='rui-39-wj rui-3evoE rui-1JPTg']")
    load.click()
    time.sleep(6)

In [5]:
#fetch urls of all the products first
url_list1=[]
for i in driver.find_elements_by_xpath("//div[@class='rui-jAIPe']/div/div[5]/div[2]/div/div[2]/ul/li/a"):
    url_list1.append(i.get_attribute("href"))

In [6]:
#check the urls
url_list1[0:2]

['https://www.olx.in/item/hyundai-grand-i10-magna-12-kappa-vtvt-2016-petrol-iid-1621621570',
 'https://www.olx.in/item/toyota-fortuner-30-limited-edition-2015-diesel-iid-1641978736']

In [7]:
#number of urls fetched
print(len(url_list1))

360

In [8]:
#check if all the urls are fetched and no data is repeated
import numpy as np
x=np.array(url_list1)
print(len(np.unique(x)))

349

In [9]:
#drop the duplicate urls
url_list1=np.unique(url_list1)
len(url_list1)

349

In [10]:
#create empty lists
brand_list1=[]
model_list1=[]
variant_list1=[]
year_list1=[]
fuel_list1=[]
trans_list1=[]
kms_list1=[]
owners_list1=[]
price_list1=[]
location_list1=[]

In [11]:
#data collection
for i in url_list1:
    driver.get(i)
    time.sleep(0.10)
    
    try:
        brand_list1.append(driver.find_element_by_xpath(" //span[@data-aut-id='value_make']").text)
    except NoSuchElementException:
        brand_list1.append('-')    
        
    try:   
        model_list1.append(driver.find_element_by_xpath("//div[@class='_3JPEe']/div[2]/div/span[2]").text)
    except NoSuchElementException: 
        model_list1.append('-')
    
    try:
        variant_list1.append(driver.find_element_by_xpath("//div[@class='_3JPEe']/div[3]/div/span[2]").text)
    except NoSuchElementException: 
        variant_list1.append('-')
       
    
    try:
        year_list1.append(driver.find_element_by_xpath("//div[@class='_3JPEe']/div[4]/div/span[2]").text)
    except NoSuchElementException: 
        year_list1.append('-')
        
        
    try:
        fuel_list1.append(driver.find_element_by_xpath("//div[@class='_3JPEe']/div[5]/div/span[2]").text)
    except NoSuchElementException: 
        fuel_list1.append('-')
     
    
    try:
        trans_list1.append(driver.find_element_by_xpath("//div[@class='_3JPEe']/div[6]/div/span[2]").text)
    except NoSuchElementException: 
        trans_list1.append('-')
       
    
    try:
        kms_list1.append(driver.find_element_by_xpath("//div[@class='_3JPEe']/div[7]/div/span[2]").text)
    except NoSuchElementException: 
        kms_list1.append('-')
        
        
    try:   
        owners_list1.append(driver.find_element_by_xpath("//div[@class='_3JPEe']/div[8]/div/span[2]").text)
    except NoSuchElementException: 
        owners_list1.append('-')
        
    try:   
        price_list1.append(driver.find_element_by_xpath("//div[@class='rui-2CYS9']/section/span[1]").text)
    except NoSuchElementException: 
        price_list1.append('-')
       
    
    
    try:
        location_list1.append(driver.find_element_by_xpath("//div[@class='_2A3Wa']/span").text.split(",")[-1])        
    except NoSuchElementException: 
        location_list1.append('-')

In [12]:
#overview of the data
print(brand_list1[0:5])
print("\n")
print(model_list1[0:5])
print("\n")
print(variant_list1[0:5])
print("\n")
print(year_list1[0:5])
print("\n")
print(fuel_list1[0:5])
print("\n")
print(trans_list1[0:5])
print("\n")
print(kms_list1[0:5])
print("\n")
print(owners_list1[0:5])
print("\n")
print(price_list1[0:5])
print("\n")
print(location_list1[0:5])

['Ambassador', 'Volkswagen', 'Mahindra', 'Tata', 'Mahindra']


['Others', 'Vento', 'XUV500', 'Others', 'Xylo']


['Others', '2013-2015 1.2 TSI Highline AT', 'W10 2WD', 'Others', '2012-2014 D2 BSIV']


['2013', '2015', '2017', '2004', '2014']


['Diesel', 'Petrol', 'Diesel', 'Diesel', 'Diesel']


['Manual', 'Automatic', 'Automatic', 'Manual', 'Manual']


['60,000 km', '66,000 km', '55,000 km', '290,000 km', '104,000 km']


['1st', '2nd', '1st', '2nd', '1st']


['₹ 85,000', '₹ 4,60,000', '₹ 10,00,000', '₹ 2,00,000', '₹ 3,80,000']


[' West Bengal', ' West Bengal', ' West Bengal', ' West Bengal', ' West Bengal']

In [13]:
#checking length of all the fetched details
print(len(brand_list1))
print(len(model_list1))
print(len(variant_list1))
print(len(year_list1))
print(len(fuel_list1))
print(len(trans_list1))
print(len(kms_list1))
print(len(owners_list1))
print(len(price_list1))
print(len(location_list1))

349
349
349
349
349
349
349
349
349
349

In [14]:
#creating dataframe
df13=pd.DataFrame({
    'Brand':brand_list1,
    'Model':model_list1,
    'Variant':variant_list1,
    'Year':year_list1,
    'Kms driven':kms_list1,
    'Fuel':fuel_list1,
    'Transmission':trans_list1,
    'Number of owners':owners_list1,
    'Location':location_list1,
    'Price':price_list1})
df13

,Brand,Model,Variant,Year,Kms driven,Fuel,Transmission,Number of owners,Location,Price
0,Ambassador,Others,Others,2013,"60,000 km",Diesel,Manual,1st,West Bengal,"₹ 85,000"
1,Volkswagen,Vento,2013-2015 1.2 TSI Highline AT,2015,"66,000 km",Petrol,Automatic,2nd,West Bengal,"₹ 4,60,000"
2,Mahindra,XUV500,W10 2WD,2017,"55,000 km",Diesel,Automatic,1st,West Bengal,"₹ 10,00,000"
3,Tata,Others,Others,2004,"290,000 km",Diesel,Manual,2nd,West Bengal,"₹ 2,00,000"
4,Mahindra,Xylo,2012-2014 D2 BSIV,2014,"104,000 km",Diesel,Manual,1st,West Bengal,"₹ 3,80,000"
...,...,...,...,...,...,...,...,...,...,...
344,Volkswagen,Vento,1.5 TDI Highline Plus,2012,"38,125 km",Diesel,Manual,1st,West Bengal,"₹ 2,65,101"
345,Volkswagen,Vento,1.5 TDI Highline Plus AT,2017,"19,152 km",Diesel,Automatic,1st,West Bengal,"₹ 7,99,999"
346,Volkswagen,Vento,2010-2013 Petrol Highline AT,2011,"80,000 km",Petrol,Automatic,1st,West Bengal,"₹ 2,50,000"
347,Tata,Others,Others,2015,"100,000 km",Diesel,Manual,1st,West Bengal,"₹ 2,50,000"
348,Maruti Suzuki,Zen Estilo,LXI BS IV,2012,"27,000 km",Petrol,Manual,1st,West Bengal,"₹ 2,07,000"

In [15]:
#save the dataframe as csv for future use
df13.to_csv("Cars from West Bengal.csv")

### Combining all the csv files to merge all the data

In [2]:
import pandas as pd
data=pd.concat(
    map(pd.read_csv, ['Cars from Gujarat.csv','Cars from Maharashtra.csv',
                      'Cars from TamilNadu.csv','Cars from Kerala.csv',
                      'Cars from Delhi.csv','Cars from Uttar Pradesh.csv',
                       'Cars from Karnataka.csv','Cars from Punjab .csv',
                      'Cars from Telangana.csv','Cars from Haryana.csv',
                      'Cars from Rajasthan.csv','Cars from Assam.csv',
                     'Cars from West Bengal.csv']), ignore_index=True)
print(data)

      Unnamed: 0          Brand       Model                       Variant  \
0              0           Tata          Tl                        Others
1              1        Renault      Duster    2012-2015 110PS Diesel-RxZ
2              2           Tata      Safari                  Dicor VX 4X2
3              3        Hyundai         i20          2012-2014 Sportz 1.2
4              4       Mahindra      Bolero        2001-2010 XLS 7 Seater
...          ...            ...         ...                           ...
6064         344     Volkswagen       Vento         1.5 TDI Highline Plus
6065         345     Volkswagen       Vento      1.5 TDI Highline Plus AT
6066         346     Volkswagen       Vento  2010-2013 Petrol Highline AT
6067         347           Tata      Others                        Others
6068         348  Maruti Suzuki  Zen Estilo                     LXI BS IV

      Year  Kms driven    Fuel Transmission Number of owners      Location  \
0     2008       30 km  Diesel       Manual              1st       Gujarat
1     2016   90,000 km  Diesel       Manual              1st       Gujarat
2     2008  125,600 km  Diesel       Manual              2nd       Gujarat
3     2013   70,330 km  Diesel       Manual              1st       Gujarat
4     2013   90,000 km  Diesel    Automatic              2nd       Gujarat
...    ...         ...     ...          ...              ...           ...
6064  2012   38,125 km  Diesel       Manual              1st   West Bengal
6065  2017   19,152 km  Diesel    Automatic              1st   West Bengal
6066  2011   80,000 km  Petrol    Automatic              1st   West Bengal
6067  2015  100,000 km  Diesel       Manual              1st   West Bengal
6068  2012   27,000 km  Petrol       Manual              1st   West Bengal

           Price
0       ₹ 80,000
1     ₹ 4,51,000
2     ₹ 1,70,001
3     ₹ 3,69,000
4     ₹ 3,50,000
...          ...
6064  ₹ 2,65,101
6065  ₹ 7,99,999
6066  ₹ 2,50,000
6067  ₹ 2,50,000
6068  ₹ 2,07,000

[6069 rows x 11 columns]

In [3]:
data.drop(columns=['Unnamed: 0'],axis=1,inplace=True)
data.sample()

,Brand,Model,Variant,Year,Kms driven,Fuel,Transmission,Number of owners,Location,Price
1315,Maruti Suzuki,1000,Others,2011,"72,378 km",LPG,Manual,2nd,Tamil Nadu,"₹ 1,75,000"

In [4]:
#save as excel file
data.to_excel("Used cars on Olx data.xlsx")

In [5]:
#driver.close()

In [6]:
#### save the entire data as csv file
data.to_csv("Used cars on Olx data.csv")

### End-of-Script